{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'coupon_list' %}

{% set body_class = 'mypage' %}

{% block stylesheet %}
    <style type="text/css">
        .dzx-right {
            float: right;
            position: absolute;
            right: 0;
        }

        .c-static-intro-coupon{
            font-size:14px;
            color:#383838;
            margin-bottom: 8px;
        }
        .c-static-intro-coupon span.title{
            font-weight:bold;
        }
        .ec-inlineBtn img {
            height: 1em;
            width: 1em;
        }
        .c-static-detail span.title{
            font-weight:bold;
        }
        .c-static-detail {
            font-size:12px;
        }
        .ec-imageGrid__content {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
        .ec-historyListHeader {
            display:flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 24px;
            padding-right: 20px;
        }
        .ec-historyListHeader__date {
            color: #f71600;
            overflow-wrap: break-word;
            word-wrap: break-word;
            width: 180px;
            padding: 10px 6px;
        }
        .ec-historyRole .ec-historyRole__detail {
            border-top: 0px dotted #ccc;
            position: relative;
        }
        .ec-historyListHeader__coupon {
            font-size: 22px;
            font-weight: bold;
        }
        .ec-historyListHeader .ec-historyListHeader__date {
            font-size:10px;
        }
        @media all and (max-width:767px) {
            .ec-historyRole .ec-historyRole__detail {
                width:100%;
            }
            .ec-imageGrid__content{
                width:100%;
            }
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/qrcode.min.js') }}"></script>
    <script>
        $(function() {
            $(".btndelete").on("click", function(){
                var t = $(this);
                if(t.data("disabled")){
                    $(this).attr('href', 'javascript: void(0)');
                    return false;
                }else{
                    $(this).attr("disabled", true);
                    t.data("disabled", true);
                }
            });
        });
    </script>
{% endblock javascript %}

{% block main %}

    <div class="ec-mypageRole">
        <div class="ec-pageHeader">
            <h1>{{ 'マイページ'|trans }}/{{ 'クーポン一覧'|trans }}</h1>
        </div>
        {% include 'Mypage/navi.twig' %}
    </div>
    <div class="ec-mypageRole">
        {% if isActive %}
            {% if pagination.totalItemCount > 0 %}
                <p class="ec-para-normal">{{ '%count%件のクーポンがあります'|trans({'%count%':pagination.totalItemCount}) }}</p>
                {% for CustomerCoupon in pagination %}
                    {% set Coupon = CustomerCoupon.Coupon %}
                    <div class="ec-historyRole">
                        <div class="ec-historyRole__contents">
                            <div class="ec-historyRole__header">
                                <div class="ec-historyListHeader">
                                    <img src="{{ url('coupon_img', {size: 's', coupon_code: Coupon.coupon_cd}) }}">
                                </div>
                            </div>
                            <div class="ec-historyRole__detail">
                                <p class="ec-historyListHeader__coupon">{{ Coupon.coupon_name }}</p>
                                <div class="ec-imageGrid__content">
                                    <p class="c-static-intro-coupon">
                                        <span class="title">クーポンの対象商品</span><br>
                                            {% if Coupon.coupon_type == 1 %}
                                                一部の製品
                                            {% elseif Coupon.coupon_type == 2 %}
                                                カテゴリ
                                            {% else %}
                                                全商品
                                            {% endif %}<br>
                                        <span class="title">クーポン対象期間</span><br>
                                        {% if Coupon.available_to_date >= date('9999/12/31') %}
                                            {{Coupon.available_from_date|date_format('', 'Y/m/d') }} ～<br>
                                        {% else %}
                                            {{Coupon.available_from_date|date_format('', 'Y/m/d') }} ~ {{Coupon.available_to_date|date_format('', 'Y/m/d') }}<br>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="ec-imageGrid__content">
                                    <a class="ec-inlineBtn dzx-right btndelete" href="{{ url('mypage_coupon_delete', {coupon_code: Coupon.coupon_cd}) }}"><img src="{{ asset('assets/icon/cross.svg') }}"> 削除</a>
                                    <p class="c-static-intro-coupon">
                                        <span class="title">クーポンの獲得日</span><br>
                                        {{ CustomerCoupon.create_date | date_format('', 'Y/m/d') }}<br>
                                        <span class="title">値引き</span><br>
                                        {% if Coupon.discount_type == 1 %}
                                            {{ Coupon.discount_price | price }}
                                        {% else %}
                                            {{ Coupon.discount_rate }}% OFF
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="ec-pagerRole">
                    {% include "pager.twig" with {'pages': pagination.paginationData} %}
                </div>
            {% else %}
                <p class="ec-para-normal">{{ 'クーポンはありません。'|trans }}</p>
            {% endif %}
        {% else %}
            <h1 class="c-static-page-header__title">クーポンが無効です</h1>
        {% endif %}
    </div>

{% endblock %}
