{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <meta property="og:type"          content="website" />
    <meta property="og:image"         content="{{ asset('assets/img/sns/220201_177.jpg?v=1') }}" />
    <meta name="twitter:card"         content="summary" />
    <meta name="twitter:title"        content="クーポン獲得" />
    <meta name="twitter:image"        content="{{ absolute_url(asset('assets/img/sns/220201_177.jpg')) }}" />

    <style type="text/css">
        .c-static-page-highlight {
            color: #000;
            font-weight: bold;
            font-size:24px;
        }
        .c-static-page-memo{
            color: #545151;
            margin-top: 1vw;
            text-align: left;
            vertical-align:top;
            line-height: 2;
        }
        .c-static-get-button {
            background-color: #de5d50;
            border-color: #bd473b;
            color:#fff;
        }
        .c-static-cancel-button {
            background-color: #a3a2a2;
            border-color: #626262;
            color:#fff;
        }
        .c-static-page-link {
            margin-top: 5px;
            color: #1a2a9b;
            font-weight: bold;
        }
        .c-desc-item {
            vertical-align: top;
            font-size: 14px;
        }
        .coupon-title{
            display:block;
            font-weight:bold;
        }
        .coupon-desc{
            padding-left:12px;
        }
        .c-static-error {
            color:red;
            padding-top: 50px;
            width:60%;
        }
        .ec-header-bottom {
            margin: 40px auto;
        }
        .c-outer {
            font-size:17px;
            padding-top: 20px;
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
            line-height: 30px;
        }
        .c-static-page-header {
            background-color: #fff;
            height:auto;
        }
        .c-static-form {
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        .coupon_img {
            width:48%;
            padding: 10px;
        }
        .coupon_img img {
            width:100%;
        }
        .coupon_info {
            width:48%;
            padding: 10px;
        }
        .ec-member-reg{
            color: #fff;
            background-color: #20505a;
            border-color: #20505a;
            border-radius: 56px;
            width: fit-content;
            padding-left: 5rem;
            padding-right: 5rem;
            margin-top: 3rem;
        }
        .c-static-memo{
            font-size:14px;
            margin-top: 10px;
        }
        @media all and (max-width:767px) {
            .ec-layoutRole__contents {
                padding-top: 0px;
            }
            .ec-layoutRole__header {
                padding-bottom: 0px;
            }
            .c-static-form {
                display:block;
            }
            .coupon_img, .coupon_info {
                display:block;
                width:100%;
            }
        }
    </style>
{% endblock %}

{% block main %}
<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>{{ 'クーポン獲得'|trans }}</h1>
    </div>
    {% if Coupon and not CanGetCoupon %}
        <h1 class="c-static-page-header__title c-static-error c-outer"><span class="c-first-p">ご利用のアカウントでは</span><span>クーポンを獲得できません</span></h1>
    {% endif %}

    <div class="c-static-page-header">
        {% if isActive %}
            {% if Coupon is null %}
                {% if CanGetCoupon %}
                    <h1 class="c-static-page-header__title c-static-error">クーポンが見つかりません</h1>
                {% else %}
                    <h1 class="c-static-page-header__title c-static-error">ご利用のアカウントではクーポンを獲得できません</h1>
                {% endif %}
            {% else %}
                <form method="post" action="{{ url('coupon', {coupon_code: CouponCode}) }}" class="c-static-form" novalidate>
                    {% if hasCoupon  %}
                        <div class="coupon_img">
                            <img src="{{ url('coupon_img', {size: 's', coupon_code: CouponCode}) }}">
                        </div>
                        <div class="coupon_info">
                            <p class="c-static-page-header__text c-static-page-highlight">
                                <span class="c-coupon-name">{{Coupon.coupon_name}}</span>
                            </p>
                            <div class="c-static-page-header__text c-static-page-memo">
                                <div class="c-desc-item">
                                    <span class="coupon-title">■クーポンの対象商品</span>
                                    <span class="coupon-desc">{% if Coupon.coupon_type == 1 %}
                                            一部の製品
                                        {% elseif Coupon.coupon_type == 2 %}
                                            カテゴリ
                                        {% else %}
                                            全商品
                                        {% endif %}</span>
                                    <span class="coupon-title">■値引き</span>
                                    <span class="coupon-desc">{% if Coupon.discount_type == 1 %}
                                            {{ Coupon.discount_price | price }}
                                    {% else %}
                                        {{ Coupon.discount_rate }}% OFF
                                    {% endif %}</span>
                                </div>
                                <div class="c-desc-item">
                                    <span class="coupon-title">■クーポン対象期間</span>
                                    {% if Coupon.available_to_date >= date('9999/12/31') %}
                                        <span class="coupon-desc">{{Coupon.available_from_date|date_format('', 'Y/m/d') }} ～</span>
                                    {% else %}
                                        <span class="coupon-desc">{{Coupon.available_from_date|date_format('', 'Y/m/d') }} ~ {{Coupon.available_to_date|date_format('', 'Y/m/d') }}</span>
                                    {% endif %}

                                    {#  //2022/3/22 追記 クーポンの獲得日は不要
                                        <span class="coupon-title">■クーポンの獲得日</span>
                                        <span class="coupon-desc">{{ CustomerCoupon.create_date | date_format('', 'Y/m/d') }}</span>
                                    #}
                                </div>
                            </div>
                            <h1 class="c-static-page-header__title c-static-page-button">
                                <div class="ec-login__actions">
                                    <button type="button" class="ec-blockBtn disabled c-static-cancel-button">獲得済み</button>
                                </div>
                            </h1>
                            <p class="c-static-page-header__text c-static-page-link"><a href="{{ url('mypage_coupon_list') }}">獲得したクーポンを確認する</a></p>
                        </div>
                    {% else %}
                        <div class="coupon_img">
                            <img src="{{ url('coupon_img', {size: 's',coupon_code: CouponCode}) }}">
                        </div>
                        <div class="coupon_info">
                            <p class="c-static-page-header__text c-static-page-highlight">
                                <span class="c-coupon-name">{{Coupon.coupon_name}}</span><br>
                            </p>
                            <div class="c-static-page-header__text c-static-page-memo">
                                <div class="c-desc-item">
                                    <span class="coupon-title">■クーポンの対象商品</span>
                                    <span class="coupon-desc">
                                        {% if Coupon.coupon_type == 1 %}
                                            一部の製品
                                        {% elseif Coupon.coupon_type == 2 %}
                                            カテゴリ
                                        {% else %}
                                            全商品
                                        {% endif %}
                                        </span>
                                    <span class="coupon-title">■値引き</span>
                                    <span class="coupon-desc">{% if Coupon.discount_type == 1 %}
                                            {{ Coupon.discount_price | price }}
                                    {% else %}
                                        {{ Coupon.discount_rate }}% OFF
                                    {% endif %}</span>
                                </div>
                                <div class="c-desc-item">
                                    <span class="coupon-title">■クーポン対象期間</span>
                                    {% if Coupon.available_to_date >= date('9999/12/31') %}
                                        <span class="coupon-desc">{{Coupon.available_from_date|date_format('', 'Y/m/d') }} ～</span>
                                    {% else %}
                                        <span class="coupon-desc">{{Coupon.available_from_date|date_format('', 'Y/m/d') }} ~ {{Coupon.available_to_date|date_format('', 'Y/m/d') }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <h1 class="c-static-page-header__title c-static-page-button">
                                <div class="ec-login__actions">
                                    <button type="submit" class="ec-blockBtn c-static-get-button">クーポンを獲得</button>
                                </div>
                            </h1>
                            <p class="c-static-page-header__text c-static-page-link"><a href="{{ url('mypage_coupon_list') }}">獲得したクーポンを確認する</a></p>
                            <h1 class="c-static-page-header__title c-static-page-button">
                                <div class="ec-login__actions">
                                    <a href="{{ url('entry') }}" target="_newmember" class="ec-blockBtn ec-member-reg">新規会員登録はこちら ></a>
                                </div>
                            </h1>
                            <p class="c-static-page-header__text c-static-memo">※会員登録をした方のみクーポンをご利用が可能です。</p>
                            
                        </div>
                    {% endif %}
                </form>
            {% endif %}
        {% else %}
            <h1 class="c-static-page-header__title c-static-error">クーポンが無効です</h1>
        {% endif %}
    </div>
</div>

{% endblock %}
