{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block stylesheet %}
  <style>
    .category-tab__item:not(:first-of-type) a {
      background-color: #eee !important;
      color: #231815 !important;
    }
    /* COFFEE BREAD othersはとりあえず非表示 */
    .category-tab__item a.category-2,
    .category-tab__item a.category-5,
    .category-tab__item a.category-7 {
      display: none;
    }
  </style>
{% endblock %}

{% block javascript %}
    <script>
        eccube.productsClassCategories = {
            {% for Product in pagination %}
            "{{ Product.id|escape('js') }}": {{ class_categories_as_json(Product)|raw }}{% if loop.last == false %}, {% endif %}
            {% endfor %}
        };

        $(function() {

            // 表示件数を変更
            $('.disp-number').change(function() {
                var dispNumber = $(this).val();
                $('#disp_number').val(dispNumber);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            // 並び順を変更
            $('.order-by').change(function() {
                var orderBy = $(this).val();
                $('#orderby').val(orderBy);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            $('.add-cart').on('click', function(e) {
                var $form = $(this).parents('li').find('form');

                // 個数フォームのチェック
                var $quantity = $form.parent().find('.quantity');
                if ($quantity.val() < 1) {
                    $quantity[0].setCustomValidity('{{ 'front.product.invalid_quantity'|trans }}');
                    setTimeout(function() {
                        loadingOverlay('hide');
                    }, 100);
                    return true;
                } else {
                    $quantity[0].setCustomValidity('');
                }
                e.preventDefault();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    $('.ec-modal').show()

                    // カートブロックを更新する
                    $.ajax({
                        url: '{{ url('block_cart') }}',
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'front.product.add_cart_error'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });

            var cat = $(".hide_class_category1 select,.hide_class_category2 select");
            $.each(cat, function(){
                var select = $(this);
                select.val(select.find("option:last").val());
                select.trigger("change");
            });
        });

        $('.ec-modal-wrap').on('click', function(e) {
            // モーダル内の処理は外側にバブリングさせない
            e.stopPropagation();
        });
        $('.ec-modal-overlay, .ec-modal, .ec-modal-close, .ec-inlineBtn--cancel').on('click', function() {
            $('.ec-modal').hide()
        });
    </script>
{% endblock %}

{% block main %}
    {% set Categories = repository('Eccube\\Entity\\Category').getList() %}
    {% set Cate = app.request.query.get('category_id') %}

    {% if ChainStore == false %}
      {% if Category is null %}
        <div class="page-header">
          <img src="{{ asset('assets/img/product/product_main.jpg') }}" alt="">
          <h1 class="page-header__title">
            ONLINE SHOP
            <span>ダシーズファクトリー製品のご購入</span>
          </h1>
        </div>
      {% endif %}
    {% endif %}

    {% if ChainStore == false %}
      {% if Category is null %}
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="{{ url('homepage') }}">
                <span itemprop="name">HOME</span>
              </a>
              <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="{{ url('product_list') }}">
                {% if ChainStore == false %}
                  <span itemprop="name">ONLINE SHOP</span>
                {% else %}
                  <span itemprop="name">トップ</span>
                {% endif %}
              </a>
              <meta itemprop="position" content="2" />
            </li>
          </ol>
        </div>
      {% endif %}
    {% endif %}

    {% if ChainStore %}
      <div class="p-chain-store-heading">
          {% if Cate == '8' %}
              <h1 class="p-chain-store-heading__title">販促品発注</h1>
              <p class="p-chain-store-heading__lead">発注する商品を選んでカートに入れてください。</p>
          {% else %}
              <h1 class="p-chain-store-heading__title">商品発注</h1>
              <p class="p-chain-store-heading__lead">発注する商品を選んでカートに入れてください。アイスは数量「1」で20個セットになります。</p>
          {% endif %}
      </div>
    {% endif %}

    {% if ChainStore == false %}
        {% if Category is null %}
          <div class="online-store-information">
            <p class="online-store-information__text">「オンラインショップはまだですか？」「東京になかなか行けないけれど食べたい！」と、嬉しいお声をたくさんいただき、ダシーズのアイスをご家庭で召し上がっていただける通販セットをダシーズファクトリー公式サイト上でもお買い求めいただけるようになりました。</p>
            <br><p class="online-store-information__text">乳製品、白砂糖、小麦粉、トランス脂肪酸を使わない、心と身体においしいダシーズのアイスをぜひお楽しみください！</p>
          </div>
        {% endif %}
    {% endif %}

    {% if ChainStore == false %}
        {% if Category is null %}
            <div class="category-tab">
                <h2 class="category-tab__title">CATEGORY<span>カテゴリー</span></h2>
                <ul class="category-tab__list">
                    {% for category_item in Categories %}
                        {% set continue = false %}
                        {% if ChainStore == false %}
                            {% if category_item.id == 8 %}
                                {% set continue = true %}
                            {% endif %}
                            {% if not continue %}
                                <li class="category-tab__item">
                                    <a class="category-{{ category_item.id }}" href="{{ url('product_list') }}?category_id={{ category_item.id }}">{{ category_item.name }}</a>
                                </li>
                            {% endif %}
                            {% if continue %}
                                {% set continue = false %}
                            {% endif %}
                        {% else %}
                            {% if category_item.id == 7 %}
                                {% set continue = true %}
                            {% endif %}
                            {% if not continue %}
                                <li class="category-tab__item">
                                    <a class="category-{{ category_item.id }}" href="{{ url('product_list') }}?category_id={{ category_item.id }}">{{ category_item.name }}</a>
                                </li>
                            {% endif %}
                            {% if continue %}
                                {% set continue = false %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

    {% if ChainStore == false %}
        {% if Category is not null %}
            {% if search_form.category_id.vars.errors|length > 0 %}
                <div class="ec-searchnavRole">
                    <p class="errormsg text-danger">{{ 'front.product.search__category_not_found'|trans }}</p>
                </div>
            {% else %}
                <div class="ec-searchnavRole">
                    <form name="form1" id="form1" method="get" action="?">
                        {% for item in search_form %}
                            <input type="hidden" id="{{ item.vars.id }}"
                                  name="{{ item.vars.full_name }}"
                                  {% if item.vars.value is not empty %}value="{{ item.vars.value }}" {% endif %}/>
                        {% endfor %}
                    </form>
                    <div class="ec-searchnavRole__topicpath">
                        <ol class="ec-topicpath">
                            <li class="ec-topicpath__item"><a href="{{ url('product_list') }}">{{ 'front.product.all_category'|trans }}</a></li>
                            <li class="ec-topicpath__item"><a href="{{ url('product_list') }}">商品一覧</a></li>
                                {% for Path in Category.path %}
                                    <li class="ec-topicpath__divider">|</li>
                                    <li class="ec-topicpath__item{% if loop.last %}--active{% endif %}"><a
                                                href="{{ url('product_list') }}?category_id={{ Path.id }}">{{ Path.name }}</a>
                                    </li>
                                {% endfor %}
                            {% if search_form.vars.value and search_form.vars.value.name %}
                                <li class="ec-topicpath__divider">|</li>
                                <li class="ec-topicpath__item">{{ 'front.product.search_result__keyword'|trans({ '%name%': search_form.vars.value.name }) }}</li>
                            {% endif %}
                        </ol>
                      </div>
                      <div class="ec-searchnavRole__infos">
                          <div class="ec-searchnavRole__counter">
                              {% if pagination.totalItemCount > 0 %}
                                  {{ 'front.product.search_result__detail'|trans({ '%count%': pagination.totalItemCount })|raw }}
                              {% else %}
                                  <span>{{ 'front.product.search__product_not_found'|trans }}</span>
                              {% endif %}
                          </div>
                          {% if pagination.totalItemCount > 0 %}
                              <div class="ec-searchnavRole__actions">
                                  <div class="ec-select">
                                      {{ form_widget(disp_number_form, {'id': '', 'attr': {'class': 'disp-number'}}) }}
                                      {{ form_widget(order_by_form, {'id': '', 'attr': {'class': 'order-by'}}) }}
                                  </div>
                              </div>
                          {% endif %}
                      </div>
                  </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if Category is not null %}
        {% if pagination.totalItemCount > 0 %}
            <div class="ec-shelfRole">
                <ul class="ec-shelfGrid">
                    {% for Product in pagination %}
                        <li class="ec-shelfGrid__item">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                <p class="ec-shelfGrid__item-image">
                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name }}" loading="lazy">
                                </p>
                                <p class="ec-shelfGrid__title">{{ Product.name }}</p>
                                {% if Product.description_list %}
                                    <p class="ec-shelfGrid__description">{{ Product.description_list|raw|nl2br }}</p>
                                {% endif %}
                                <p class="price02-default">
                                    {% if Product.hasProductClass %}
                                        {% if Product.getPrice02Min == Product.getPrice02Max %}
                                            {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                        {% else %}
                                            {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}<span>（税込）</span>
                                        {% endif %}
                                    {% else %}
                                        {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                    {% endif %}
                                </p>
                            </a>

                            {% if Product.stock_find %}
                                {% set form = forms[Product.id] %}
                                <form class="ec-shelfGrid__form" name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                                    <div class="ec-productRole__actions">
                                        {% if form.classcategory_id1 is defined %}
                                            {% if Product.hide_class_category1 %}
                                                <div class="ec-select hide_class_category1" style="display:none;">
                                            {% else %}
                                                <div class="ec-select">
                                            {% endif %}

                                                {{ form_widget(form.classcategory_id1) }}
                                                {{ form_errors(form.classcategory_id1) }}
                                            </div>
                                            {% if form.classcategory_id2 is defined %}
                                                {% if Product.hide_class_category2 %}
                                                    <div class="ec-select hide_class_category2" style="display:none;">
                                                {% else %}
                                                    <div class="ec-select">
                                                {% endif %}

                                                    {{ form_widget(form.classcategory_id2) }}
                                                    {{ form_errors(form.classcategory_id2) }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="ec-numberInput"><span>{{ 'common.quantity'|trans }}</span>
                                            {{ form_widget(form.quantity, {'attr': {'class': 'quantity'}}) }}
                                            {{ form_errors(form.quantity) }}
                                        </div>
                                    </div>
                                    {{ form_rest(form) }}
                                </form>
                                <div class="ec-shelfGrid__btn">
                                    <button type="submit" class="ec-blockBtn--action add-cart" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                        {{ 'front.product.add_cart'|trans }}
                                    </button>
                                </div>
                            {% else %}
                                <div class="ec-shelfGrid__btn">
                                    <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                        {{ 'front.product.out_of_stock'|trans }}
                                    </button>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ec-modal">
                <div class="ec-modal-overlay">
                    <div class="ec-modal-wrap">
                        <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                        <div id="ec-modal-header" class="text-center">{{ 'front.product.add_cart_complete'|trans }}</div>
                        <div class="ec-modal-box">
                            <div class="ec-role">
                                <span class="ec-inlineBtn--cancel">{{ 'front.product.continue'|trans }}</span>
                                <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'common.go_to_cart'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-pagerRole">
                {% include "pager.twig" with {'pages': pagination.paginationData} %}
            </div>
        {% endif %}
    {% else %}


        {% set IceProducts = CustomizeCategoryProduct(1) %}
        {% set CoffeeProducts = CustomizeCategoryProduct(5) %}
        {% set BreadProducts = CustomizeCategoryProduct(2) %}

        {% if IceProducts|length > 0 %}
            <div class="ec-products-top-area">
                <div class="ec-product-category-title">
                  <h2 class="ec-product-category-title__title">ICE<span style="font-size: 0.8rem; color: #999;">ダシーズアイス</span></h2>
                </div>
                <div class="ec-shelfRole">
                    <ul class="ec-shelfGrid">
                        {% for Product in IceProducts %}
                            <li class="ec-shelfGrid__item">
                                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                    <p class="ec-shelfGrid__item-image">
                                        <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name }}" loading="lazy">
                                    </p>
                                    <p class="ec-shelfGrid__title">{{ Product.name }}</p>
                                    {% if Product.description_list %}
                                        <p class="ec-shelfGrid__description">{{ Product.description_list|raw|nl2br }}</p>
                                    {% endif %}
                                    <p class="price02-default">
                                        {% if Product.hasProductClass %}
                                            {% if Product.getPrice02Min == Product.getPrice02Max %}
                                                {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                            {% else %}
                                                {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}<span>（税込）</span>
                                            {% endif %}
                                        {% else %}
                                            {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                        {% endif %}
                                    </p>
                                </a>

                                {% if Product.stock_find %}
                                    {% set form = forms[Product.id] %}
                                    <form class="ec-shelfGrid__form" name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                                        <div class="ec-productRole__actions">
                                            {% if form.classcategory_id1 is defined %}
                                                {% if Product.hide_class_category1 %}
                                                    <div class="ec-select hide_class_category1" style="display:none;">
                                                {% else %}
                                                    <div class="ec-select">
                                                {% endif %}

                                                    {{ form_widget(form.classcategory_id1) }}
                                                    {{ form_errors(form.classcategory_id1) }}
                                                </div>
                                                {% if form.classcategory_id2 is defined %}
                                                    {% if Product.hide_class_category2 %}
                                                        <div class="ec-select hide_class_category2" style="display:none;">
                                                    {% else %}
                                                        <div class="ec-select">
                                                    {% endif %}

                                                        {{ form_widget(form.classcategory_id2) }}
                                                        {{ form_errors(form.classcategory_id2) }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="ec-numberInput"><span>{{ 'common.quantity'|trans }}</span>
                                                {{ form_widget(form.quantity, {'attr': {'class': 'quantity'}}) }}
                                                {{ form_errors(form.quantity) }}
                                            </div>
                                        </div>
                                        {{ form_rest(form) }}
                                    </form>
                                    {% if is_kokokara_select_product(Product) %}
                                        <div class="ec-shelfGrid__btn">
                                            <a href="{{ url('product_detail', {'id': Product.id}) }}">商品を選択する</a>
                                        </div>
                                    {% else %}
                                        <div class="ec-shelfGrid__btn">
                                            <button type="submit" class="ec-blockBtn--action add-cart" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                                {{ 'front.product.add_cart'|trans }}
                                            </button>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="ec-shelfGrid__btn">
                                        <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                            {{ 'front.product.out_of_stock'|trans }}
                                        </button>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ec-modal">
                    <div class="ec-modal-overlay">
                        <div class="ec-modal-wrap">
                            <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                            <div id="ec-modal-header" class="text-center">{{ 'front.product.add_cart_complete'|trans }}</div>
                            <div class="ec-modal-box">
                                <div class="ec-role">
                                    <span class="ec-inlineBtn--cancel">{{ 'front.product.continue'|trans }}</span>
                                    <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'common.go_to_cart'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if CoffeeProducts|length > 0 %}
            <div class="ec-products-top-area">
                <div class="ec-product-category-title">
                  <h2 class="ec-product-category-title__title">COFFEE<span style="font-size: 0.8rem; color: #999;">コーヒー</span></h2>
                </div>
                <div class="ec-shelfRole">
                    <ul class="ec-shelfGrid">
                        {% for Product in CoffeeProducts %}
                            <li class="ec-shelfGrid__item">
                                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                    <p class="ec-shelfGrid__item-image">
                                        <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name }}" loading="lazy">
                                    </p>
                                    <p class="ec-shelfGrid__title">{{ Product.name }}</p>
                                    {% if Product.description_list %}
                                        <p class="ec-shelfGrid__description">{{ Product.description_list|raw|nl2br }}</p>
                                    {% endif %}
                                    <p class="price02-default">
                                        {% if Product.hasProductClass %}
                                            {% if Product.getPrice02Min == Product.getPrice02Max %}
                                                {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                            {% else %}
                                                {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}<span>（税込）</span>
                                            {% endif %}
                                        {% else %}
                                            {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                        {% endif %}
                                    </p>
                                </a>

                                {% if Product.stock_find %}
                                    {% set form = forms[Product.id] %}
                                    <form class="ec-shelfGrid__form" name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                                        <div class="ec-productRole__actions">
                                            {% if form.classcategory_id1 is defined %}
                                                {% if Product.hide_class_category1 %}
                                                    <div class="ec-select hide_class_category1" style="display:none;">
                                                {% else %}
                                                    <div class="ec-select">
                                                {% endif %}

                                                    {{ form_widget(form.classcategory_id1) }}
                                                    {{ form_errors(form.classcategory_id1) }}
                                                </div>
                                                {% if form.classcategory_id2 is defined %}
                                                    {% if Product.hide_class_category2 %}
                                                        <div class="ec-select hide_class_category2" style="display:none;">
                                                    {% else %}
                                                        <div class="ec-select">
                                                    {% endif %}

                                                        {{ form_widget(form.classcategory_id2) }}
                                                        {{ form_errors(form.classcategory_id2) }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="ec-numberInput"><span>{{ 'common.quantity'|trans }}</span>
                                                {{ form_widget(form.quantity, {'attr': {'class': 'quantity'}}) }}
                                                {{ form_errors(form.quantity) }}
                                            </div>
                                        </div>
                                        {{ form_rest(form) }}
                                    </form>
                                    <div class="ec-ec-shelfGrid__btn">
                                        <button type="submit" class="ec-blockBtn--action add-cart" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                            {{ 'front.product.add_cart'|trans }}
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="ec-shelfGrid__btn">
                                        <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                            {{ 'front.product.out_of_stock'|trans }}
                                        </button>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ec-modal">
                    <div class="ec-modal-overlay">
                        <div class="ec-modal-wrap">
                            <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                            <div id="ec-modal-header" class="text-center">{{ 'front.product.add_cart_complete'|trans }}</div>
                            <div class="ec-modal-box">
                                <div class="ec-role">
                                    <span class="ec-inlineBtn--cancel">{{ 'front.product.continue'|trans }}</span>
                                    <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'common.go_to_cart'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if BreadProducts|length > 0 %}
            <div class="ec-products-top-area">
                <div class="ec-product-category-title">
                  <h2 class="ec-product-category-title__title">BREAD<span style="font-size: 0.8rem; color: #999;">ブレッド</span></h2>
                </div>
                <div class="ec-shelfRole">
                    <ul class="ec-shelfGrid">
                        {% for Product in BreadProducts %}
                            <li class="ec-shelfGrid__item">
                                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                    <p class="ec-shelfGrid__item-image">
                                        <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name }}" loading="lazy">
                                    </p>
                                    <p class="ec-shelfGrid__title">{{ Product.name }}</p>
                                    {% if Product.description_list %}
                                        <p class="ec-shelfGrid__title">{{ Product.description_list|raw|nl2br }}</p>
                                    {% endif %}
                                    <p class="price02-default">
                                        {% if Product.hasProductClass %}
                                            {% if Product.getPrice02Min == Product.getPrice02Max %}
                                                {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                            {% else %}
                                                {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}<span>（税込）</span>
                                            {% endif %}
                                        {% else %}
                                            {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                        {% endif %}
                                    </p>
                                </a>

                                {% if Product.stock_find %}
                                    {% set form = forms[Product.id] %}
                                    <form class="ec-shelfGrid__form" name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                                        <div class="ec-productRole__actions">
                                            {% if form.classcategory_id1 is defined %}
                                                {% if Product.hide_class_category1 %}
                                                    <div class="ec-select hide_class_category1" style="display:none;">
                                                {% else %}
                                                    <div class="ec-select">
                                                {% endif %}

                                                    {{ form_widget(form.classcategory_id1) }}
                                                    {{ form_errors(form.classcategory_id1) }}
                                                </div>
                                                {% if form.classcategory_id2 is defined %}
                                                    {% if Product.hide_class_category2 %}
                                                        <div class="ec-select hide_class_category2" style="display:none;">
                                                    {% else %}
                                                        <div class="ec-select">
                                                    {% endif %}

                                                        {{ form_widget(form.classcategory_id2) }}
                                                        {{ form_errors(form.classcategory_id2) }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="ec-numberInput"><span>{{ 'common.quantity'|trans }}</span>
                                                {{ form_widget(form.quantity, {'attr': {'class': 'quantity'}}) }}
                                                {{ form_errors(form.quantity) }}
                                            </div>
                                        </div>
                                        {{ form_rest(form) }}
                                    </form>
                                    <div class="ec-shelfGrid__btn">
                                        <button type="submit" class="ec-blockBtn--action add-cart" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                            {{ 'front.product.add_cart'|trans }}
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="ec-shelfGrid__btn">
                                        <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                            {{ 'front.product.out_of_stock'|trans }}
                                        </button>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ec-modal">
                    <div class="ec-modal-overlay">
                        <div class="ec-modal-wrap">
                            <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                            <div id="ec-modal-header" class="text-center">{{ 'front.product.add_cart_complete'|trans }}</div>
                            <div class="ec-modal-box">
                                <div class="ec-role">
                                    <span class="ec-inlineBtn--cancel">{{ 'front.product.continue'|trans }}</span>
                                    <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'common.go_to_cart'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {# {% if RestProducts is defined %}
            {% if RestProducts|length > 0 %}
                <div class="ec-products-top-area">
                    <div class="ec-product-category-title">
                      <h2 class="ec-product-category-title__title">その他の商品</h2>
                    </div>
                    <div class="ec-shelfRole">
                        <ul class="ec-shelfGrid">
                            {% for Product in BreadProducts %}
                                <li class="ec-shelfGrid__item">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="ec-shelfGrid__item-image">
                                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name }}" loading="lazy">
                                        </p>
                                        <p class="ec-shelfGrid__title">{{ Product.name }}</p>
                                        {% if Product.description_list %}
                                            <p class="ec-shelfGrid__title">{{ Product.description_list|raw|nl2br }}</p>
                                        {% endif %}
                                        <p class="price02-default">
                                            {% if Product.hasProductClass %}
                                                {% if Product.getPrice02Min == Product.getPrice02Max %}
                                                    {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                                {% else %}
                                                    {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}<span>（税込）</span>
                                                {% endif %}
                                            {% else %}
                                                {{ Product.getPrice02IncTaxMin|price }}<span>（税込）</span>
                                            {% endif %}
                                        </p>
                                    </a>

                                    {% if Product.stock_find %}
                                        {% set form = forms[Product.id] %}
                                        <form class="ec-shelfGrid__form" name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                                            <div class="ec-productRole__actions">
                                                {% if form.classcategory_id1 is defined %}
                                                    {% if Product.hide_class_category1 %}
                                                        <div class="ec-select hide_class_category1" style="display:none;">
                                                    {% else %}
                                                        <div class="ec-select">
                                                    {% endif %}

                                                        {{ form_widget(form.classcategory_id1) }}
                                                        {{ form_errors(form.classcategory_id1) }}
                                                    </div>
                                                    {% if form.classcategory_id2 is defined %}
                                                        {% if Product.hide_class_category2 %}
                                                            <div class="ec-select hide_class_category2" style="display:none;">
                                                        {% else %}
                                                            <div class="ec-select">
                                                        {% endif %}

                                                            {{ form_widget(form.classcategory_id2) }}
                                                            {{ form_errors(form.classcategory_id2) }}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                <div class="ec-numberInput"><span>{{ 'common.quantity'|trans }}</span>
                                                    {{ form_widget(form.quantity, {'attr': {'class': 'quantity'}}) }}
                                                    {{ form_errors(form.quantity) }}
                                                </div>
                                            </div>
                                            {{ form_rest(form) }}
                                        </form>
                                        <div class="ec-shelfGrid__btn">
                                            <button type="submit" class="ec-blockBtn--action add-cart" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                                {{ 'front.product.add_cart'|trans }}
                                            </button>
                                        </div>
                                    {% else %}
                                        <div class="ec-shelfGrid__btn">
                                            <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                                {{ 'front.product.out_of_stock'|trans }}
                                            </button>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="ec-modal">
                        <div class="ec-modal-overlay">
                            <div class="ec-modal-wrap">
                                <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                                <div id="ec-modal-header" class="text-center">{{ 'front.product.add_cart_complete'|trans }}</div>
                                <div class="ec-modal-box">
                                    <div class="ec-role">
                                        <span class="ec-inlineBtn--cancel">{{ 'front.product.continue'|trans }}</span>
                                        <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'common.go_to_cart'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %} #}
    {% endif %}

{% endblock %}