{#
 This file is part of the Coupon plugin

 Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 http://www.ec-cube.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<script type="text/javascript">
    $(function () {
        $('#coupon_button').on("click", function () {
            $(this).attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                data: $('#shopping-form').serialize(),
                url: '{{ url("shopping_redirect_to") }}',
                success: function(data) {
                    window.location.href = '{{ url('plugin_coupon_shopping') }}';
                },
                error: function() {
                    window.location.href = '{{ url('plugin_coupon_shopping') }}';
                }
            });
            return false;
        });

        // append to layout
        $(".ec-orderConfirm").last().before($("#coupon").detach());

        $(".coupon-item button").on("click", function(){
            var btn = $(this);
            var url = btn.data("url");

            loadingOverlay();
            $.ajax({
                type: 'POST',
                data: {},
                url: url,
                success: function(data) {
                    loadingOverlay("hide");
                    if(data.status == "0"){
                        $('#shopping_order_redirect_to').val($(this).attr('data-path'));
                        $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
                    }else{
                        $('#errModal').modal('show');
                    }
                },
                error: function() {
                    loadingOverlay("hide");
                    $('#errModal').modal('show');
                }
            });
        });

        $('.ec-modal-overlay, .ec-modal, .ec-modal-close, .ec-inlineBtn--cancel').on('click', function() {
            $('.modal-backdrop').remove();
            $('.ec-modal').hide();
        });

        {% if RefreshPage == 'Y' %}
            location.href= location.href;
        {% endif %}
    })
</script>

<style>
    .clearfix:before,
    .clearfix:after {
    content: "";
    display: table;
    }
    .clearfix:after {
    clear: both;
    }
    .clearfix {
    *zoom: 1; /*For IE 6&7 only*/
    }
    .coupon-field {
        display:block;
    }
    .coupon-field.discount {
        color:red;
    }
    .coupon-item {
        width: 400px;
    }
    .coupon-item-left {
        float:left;
        width: 200px;
    }
    .coupon-item-right {
        float:right;
        width: 80px;
        text-align:right;
    }
    .coupon-item a{
        border-bottom: 1px solid #bbb;
    }
    .coupon-item:last-child a{
        border-bottom: none;
    }
    @media all and (max-width:650px) {
        .btn-group, .btn-group-vertical {
            position: initial;
        }
        .open>.dropdown-menu {
            right: 0;
        }
        .coupon-item {
            width: 100%;
        }
        #customer_detail_box {
            position:relative;
        }
    }
</style>

<div id="coupon" class="ec-orderCoupon" style="{{ ChainStore ? 'display:none;'}}">
    <div class="ec-rectHeading">
        <h2>{{ 'plugin_coupon.front.shopping.header'|trans }}</h2>
    </div>
    <div id="customer_detail_box" class="column">
        {% if ChainStore %}
            <div class="coupon_message">{{ 'plugin_coupon.front.shopping.notallow'|trans }}</div>
        {% else %}
            {% if CouponOrder %}
                <div class="coupon_message"><strong class="text-danger">{{ 'plugin_coupon.front.shopping.message.use_code'|trans({'code': CouponOrder.coupon_name }) }}</strong></div>
            {% else %}
                <div class="coupon_message">{{ 'plugin_coupon.front.shopping.message.empty'|trans }}</div>
            {% endif %}
            <!-- <p><a class="btn btn-default btn-sm" id="coupon_button" href="{{ url('plugin_coupon_shopping') }}">{{ 'plugin_coupon.front.shopping.button.add_coupon'|trans }}</a></p> -->

            {% if CustomerCouponList %}
                <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'plugin_coupon.front.shopping.button.add_coupon'|trans }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="coupon-item">
                        <a href="#" onclick="javascript:return false;" class="clearfix">
                            <div class="coupon-item-left">
                                <span class="coupon-field">クーポンを利用しない</span>
                            </div>
                            <div class="coupon-item-right">
                                {% if CouponOrder is not null %}
                                    <button type="button" class="btn btn-primary" data-url="{{ url("plugin_coupon_shopping_apply", {"couponCd":'X'}) }}">選択</button>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                    {% for CustomerCoupon in CustomerCouponList %}
                        {% if CustomerCoupon.Coupon.coupon_real_type != 'hidden' %}
                            {% if CustomerCoupon.Coupon.order_discount_price > 0 %}
                                <li class="coupon-item">
                            {% else %}
                                <li class="coupon-item disabled">
                            {% endif %}
                                <a href="#" onclick="javascript:return false;" class="clearfix">
                                    <div class="coupon-item-left">
                                        <span class="coupon-field">{{ CustomerCoupon.Coupon.coupon_name }}</span>
                                        {% if CustomerCoupon.Coupon.coupon_real_type == 'lower_limit' %}
                                            <span class="coupon-field discount">{{ CustomerCoupon.Coupon.coupon_real_message }}</span>
                                        {% else %}
                                            <span class="coupon-field discount">購入金額割引：{{ CustomerCoupon.Coupon.order_discount_price | price }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="coupon-item-right">
                                        {% if CustomerCoupon.Coupon.order_discount_price > 0 %}
                                            {% if CouponOrder is null or CustomerCoupon.Coupon.coupon_cd != CouponOrder.coupon_cd %}
                                                <button type="button" class="btn btn-primary" data-url="{{ url("plugin_coupon_shopping_apply", {"couponCd":CustomerCoupon.Coupon.coupon_cd}) }}">選択</button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </div>
                <div class="ec-modal" id="errModal">
                    <div class="ec-modal-overlay">
                        <div class="ec-modal-wrap">
                            <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                            <div id="ec-modal-header" class="text-center">クーポンが利用できません</div>
                            <div class="ec-modal-box">
                                <div class="ec-role">
                                    <span class="ec-inlineBtn--cancel">閉じる</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <!-- NO COUPON -->
            {% endif %}
        {% endif %}
    </div>
</div>
