{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

{% macro tree(Category) %}
    {% from _self import tree %}
    <a href="{{ url('product_list') }}?category_id={{ Category.id }}">
        {{ Category.name }}
    </a>
    {% if Category.children|length > 0 %}
        <ul>
            {% for ChildCategory in Category.children %}
                <li>
                    {{ tree(ChildCategory) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{# @see https://github.com/bolt/bolt/pull/2388 #}
{% from _self import tree %}

<div class="ec-header-category-area">
  <div class="ec-item-nav">
    {% if ChainStore %}
        <ul class="ec-item-nav__nav">
            <li class="ec-item-nav__nav-item">
                <a href="{{ url('mypage_menu') }}">
                    トップ
                </a>
            </li>
            <li class="ec-item-nav__nav-item">
                <a href="{{ url('mypage_news') }}">
                    新着情報
                </a>
            </li>
            <li class="ec-item-nav__nav-item">
                <a href="/shop/store-guide">
                    ご利用案内
                </a>
            </li>
            <li class="ec-item-nav__nav-item">
                <a href="{{ url('product_list') }}">
                    商品発注
                </a>
            </li>
            <li class="ec-item-nav__nav-item">
                <a href="{{ url('product_list') }}?category_id=8">
                    販促品発注
                </a>
            </li>
            <li class="ec-item-nav__nav-item">
                <a href="/shop/products-list/">
                    商品紹介
                </a>
            </li>
            <li class="ec-item-nav__nav-item">
                <a href="{{ url('mypage') }}">
                    マイページ
                </a>
            </li>
            {% if BaseInfo.option_favorite_product %}
                <li class="ec-item-nav__nav-item">
                    <a href="{{ url('mypage_favorite') }}">
                        {{ 'front.block.login.favorite'|trans }}
                    </a>
                </li>
            {% endif %}
            <li class="ec-item-nav__nav-item">
                <a href="{{ url('logout') }}">
                    {{ 'front.block.login.logout'|trans }}
                </a>
            </li>
        </ul>
    {% else %}
    <ul class="ec-item-nav__nav">
      <li class="ec-item-nav__nav-item">
        <a href="/products/list/">
          ONLINE SHOP
          <span>オンライン ショップ</span>
        </a>
      </li>
      <li class="ec-item-nav__nav-item">
        <a href="/shop/guide/">
          GUIDE
          <span>お買い物ガイド</span>
        </a>
      </li>
      <li class="ec-item-nav__nav-item">
        <a href="/shop/news/">
          NEWS
          <span>お知らせ</span>
        </a>
      </li>
      <li class="ec-item-nav__nav-item">
        <a href="/shop/story/">
          STORY
          <span>製品の誕生物語</span>
        </a>
      </li>
      <li class="ec-item-nav__nav-item">
        <a href="/shop/concept/">
          CONCEPT
          <span>製品のこだわり</span>
        </a>
      </li>
      <li class="ec-item-nav__nav-item">
        <a href="/shop/products-list/">
          PRODUCTS
          <span>製品ラインアップ</span>
        </a>
      </li>
      <li class="ec-item-nav__nav-item">
        <a href="{{ url('company') }}">
          ABOUT US
          <span>会社概要</span>
        </a>
      </li>
      <li class="ec-item-nav__nav-item">
        <a href="/shop/stores">
          STORES
          <span>実店舗のご紹介</span>
        </a>
      </li>
      <li class="ec-item-nav__nav-item">
        <a href="/shop/contact">
          CONTACT US
          <span>お問い合わせ</span>
        </a>
      </li>
    </ul>
    {% endif %}
  </div>
</div>
