{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-footerRole">
    <div class="ec-footerRole__inner">
        <div class="ec-footerRole__top">
            <ul class="ec-footerSnsNavi">
                <li class="ec-footerSnsNavi__link">
                    <a href="https://twitter.com/benechanshop" target="_blank" rel="noopener noreferrer"><img src="{{ asset('assets/icon/icon_twitter.svg') }}" width="36"></a>
                </li>
                <li class="ec-footerSnsNavi__link">
                    <a href="https://www.facebook.com/benechan.shop/" target="_blank" rel="noopener noreferrer"><img src="{{ asset('assets/icon/icon_facebook.svg') }}" width="36"></a>
                </li>
            </ul>
            <ul class="ec-footerNavi">
                <li class="ec-footerNavi__link">
                    <a href="{{ url('help_tradelaw') }}">{{ '特商法に基づく表記'|trans }}</a>
                </li>
                <li class="ec-footerNavi__link">
                    <a href="{{ url('help_privacy') }}">{{ 'プライバシーポリシー'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="ec-footerTitle">
            <div class="ec-footerTitle__logo">
                <a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a>
            </div>
            <div class="ec-footerTitle__copyright">copyright (c) darcys-factory all rights reserved.</div>
        </div>
    </div>
</div>
