{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-footer-role">
    <div class="ec-footer-role__inner">
        {% if ChainStore == false %}
            <div class="ec-footer-role__top sp-none">
                <ul class="ec-footer-navi">
                    <li class="ec-footer-navi__link">
                        <a href="/shop/news/">NEWS</a>
                    </li>
                </ul>
                <ul class="ec-footer-navi">
                    <li class="ec-footer-navi__link">
                        <a href="/shop/story/">STORY</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/concept/">CONCEPT</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/products-list/">PRODUCTS</a>
                    </li>
                </ul>
                <ul class="ec-footer-navi">
                    <li class="ec-footer-navi__link">
                        <a href="{{ url('company') }}">ABOUT US</a>
                    </li>
                </ul>
                <ul class="ec-footer-navi">
                    <li class="ec-footer-navi__link">
                        <a href="/shop/stores/">STORES</a>
                    </li>
                </ul>
                <ul class="ec-footer-navi">
                    <li class="ec-footer-navi__link">
                        <a href="{{ url('product_list') }}">ONLINE SHOP</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/guide/">GUIDE</a>
                    </li>
                </ul>
                <ul class="ec-footer-sns-navi">
                    <li class="ec-footer-sns-navi__link">
                        <a href="https://twitter.com/Darcysshop" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('assets/icon/icon_tw.png') }}" width="35" height="29">
                        </a>
                    </li>
                    <li class="ec-footer-sns-navi__link">
                        <a href="https://www.instagram.com/darcys.shop/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('assets/icon/icon_insta.svg') }}" width="32" height="32">
                        </a>
                    </li>
                    <li class="ec-footer-sns-navi__link">
                        <a href="https://www.facebook.com/darcys.japan/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('assets/icon/icon_fb.png') }}" width="32" height="32">
                        </a>
                    </li>
                    <li class="ec-footer-sns-navi__link">
                        <a href="https://www.youtube.com/channel/UCuAPEXbS0ShlRh17cK5dVxg" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('assets/icon/icon_youtube.png') }}" width="32" height="32">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="ec-footer-role__top pc-none">
                <ul class="ec-footer-navi">
                    <li class="ec-footer-navi__link">
                        <a href="{{ url('product_list') }}">ONLINE SHOP</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/guide/">GUIDE</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/news/">NEWS</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/story/">STORY</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/concept/">CONCEPT</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/products-list/">PRODUCTS</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="{{ url('company') }}">ABOUT US</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/stores/">STORES</a>
                    </li>
                    <li class="ec-item-nav__nav-item">
                        <a href="/shop/contact">CONTACT US</a>
                    </li>
                </ul>
                <ul class="ec-footer-sns-navi">
                    <li class="ec-footer-sns-navi__link">
                        <a href="https://twitter.com/Darcysshop" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('assets/icon/icon_tw.png') }}" width="35" height="29">
                        </a>
                    </li>
                    <li class="ec-footer-sns-navi__link">
                        <a href="https://www.instagram.com/darcys.shop/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('assets/icon/icon_insta.png') }}" width="32" height="32">
                        </a>
                    </li>
                    <li class="ec-footer-sns-navi__link">
                        <a href="https://www.facebook.com/darcys.japan/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('assets/icon/icon_fb.png') }}" width="32" height="32">
                        </a>
                    </li>
                    <li class="ec-footer-sns-navi__link">
                        <a href="https://www.youtube.com/channel/UCuAPEXbS0ShlRh17cK5dVxg" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('assets/icon/icon_youtube.png') }}" width="32" height="32">
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="ec-footer-role__top sp-none">
                <ul class="ec-footer-horizontal-navi">
                    <li class="ec-footer-horizontal-navi__link">
                        <a href="{{ url('mypage_menu') }}">トップ</a>
                    </li>
                    <li class="ec-footer-horizontal-navi__link">
                        <a href="{{ url('mypage_news') }}">新着情報</a>
                    </li>
                    <li class="ec-footer-horizontal-navi__link">
                        <a href="{{ url('product_list') }}">商品発注</a>
                    </li>
                    <li class="ec-footer-horizontal-navi__link">
                        <a href="{{ url('product_list') }}?category_id=8">販促品発注</a>
                    </li>
                    <li class="ec-footer-horizontal-navi__link">
                        <a href="/shop/manual/">マニュアル</a>
                    </li>
                    <li class="ec-footer-horizontal-navi__link">
                        <a href="/shop/notifi/">各種申請</a>
                    </li>
                    <li class="ec-footer-horizontal-navi__link">
                        <a href="/shop/promotion/">プロモーション</a>
                    </li>
                    <li class="ec-footer-horizontal-navi__link ec-footer-horizontal-navi__link--last">
                        <a href="{{ url('mypage') }}">マイページ</a>
                    </li>
                </ul>
            </div>

            <div class="ec-footer-role__top pc-none">
                <ul class="ec-footer-navi">
                    <li class="ec-footer-navi__link">
                        <a href="{{ url('mypage_menu') }}">トップ</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="{{ url('mypage_news') }}">新着情報</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="{{ url('product_list') }}">商品発注</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="{{ url('product_list') }}?category_id=8">販促品発注</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/manual/">マニュアル</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/notifi/">各種申請</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="/shop/promotion/">プロモーション</a>
                    </li>
                    <li class="ec-footer-navi__link">
                        <a href="{{ url('mypage') }}">マイページ</a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="ec-footer-role__bottom">
            <ul class="ec-footer-bottom-navi">
                <li class="ec-footer-bottom-navi__link">
                    <a href="{{ url('help_privacy') }}">{{ 'プライバシーポリシー'|trans }}</a>
                </li>
                <li class="ec-footer-bottom-navi__link">
                    <a href="{{ url('help_tradelaw') }}">{{ '特商法取引に基づく表記'|trans }}</a>
                </li>
                <li class="ec-footer-bottom-navi__link">
                    <a href="/shop/contact/">お問い合わせ</a>
                </li>
                <li class="ec-footer-bottom-navi__link">
                    <a href="/shop/sitemap/">サイトマップ</a>
                </li>
            </ul>
        </div>
        <div class="ec-footer-title">
            <div class="ec-footer-title__copyright">&copy; Darcy's Factory Co., Ltd. All rights reserved.</div>
        </div>
    </div>
</div>