{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-footer-role">
    <div class="ec-footer-role__inner">
        <div class="ec-footer-role__top">
            <ul class="ec-footer-navi">
                <li class="ec-footer-navi__link">
                    <a href="/shop/news/">NEWS</a>
                </li>
            </ul>
            <ul class="ec-footer-navi">
                <li class="ec-footer-navi__link">
                    <a href="/shop/story/">STORY</a>
                </li>
                <ul class="ec-footer-navi-child">
                    <li class="ec-footer-navi-child__link">
                        <a href="">ICE CREAM</a>
                    </li>
                    <li class="ec-footer-navi-child__link">
                        <a href="">BREAD</a>
                    </li>
                    <li class="ec-footer-navi-child__link">
                        <a href="">COFFEE</a>
                    </li>
                </ul>
            </ul>
            <ul class="ec-footer-navi">
                <li class="ec-footer-navi__link">
                    <a href="/shop/concept/">CONCEPT</a>
                </li>
                <ul class="ec-footer-navi-child">
                    <li class="ec-footer-navi-child__link">
                        <a href="">ICE CREAM</a>
                    </li>
                    <li class="ec-footer-navi-child__link">
                        <a href="">BREAD</a>
                    </li>
                    <li class="ec-footer-navi-child__link">
                        <a href="">COFFEE</a>
                    </li>
                </ul>
            </ul>
            <ul class="ec-footer-navi">
                <li class="ec-footer-navi__link ec-footer-navi__link_wide">
                    <a href="/shop/products/">PRODUCTS</a>
                </li>
                <li class="ec-footer-navi__link ec-footer-navi__link_wide">
                    <a href="{{ url('company') }}">ABOUT US</a>
                </li>
                <li class="ec-footer-navi__link ec-footer-navi__link_wide">
                    <a href="{{ url('product_list') }}">ONLINE SHOP</a>
                </li>
            </ul>
            <ul class="ec-footer-navi">
                <li class="ec-footer-navi__link">
                    <a href="/shop/stores/">STORE</a>
                </li>
            </ul>
            <ul class="ec-footer-sns-navi">
                <li class="ec-footer-sns-navi__link">
                    <a href="https://twitter.com/benechanshop" target="_blank" rel="noopener noreferrer">
                        <img src="{{ asset('assets/icon/icon_tw.png') }}" width="35" height="29">
                    </a>
                </li>
                <li class="ec-footer-sns-navi__link">
                    <a href="" target="_blank" rel="noopener noreferrer">
                        <img src="{{ asset('assets/icon/icon_insta.svg') }}" width="32" height="32">
                    </a>
                </li>
                <li class="ec-footer-sns-navi__link">
                    <a href="https://www.facebook.com/benechan.shop/" target="_blank" rel="noopener noreferrer">
                        <img src="{{ asset('assets/icon/icon_fb.png') }}" width="32" height="32">
                    </a>
                </li>
                <li class="ec-footer-sns-navi__link">
                    <a href="" target="_blank" rel="noopener noreferrer">
                        <img src="{{ asset('assets/icon/icon_youtube.png') }}" width="32" height="32">
                    </a>
                </li>
            </ul>
        </div>
        <div class="ec-footer-role__bottom">
            <ul class="ec-footer-bottom-navi">
                <li class="ec-footer-bottom-navi__link">
                    <a href="{{ url('help_privacy') }}">{{ 'プライバシーポリシー'|trans }}</a>
                </li>
                <li class="ec-footer-bottom-navi__link">
                    <a href="{{ url('help_tradelaw') }}">{{ '特商法取引に基づく表記'|trans }}</a>
                </li>
                <li class="ec-footer-bottom-navi__link">
                    <a href="">お問い合わせ</a>
                </li>
                <li class="ec-footer-bottom-navi__link">
                    <a href="">サイトマップ</a>
                </li>
            </ul>
        </div>
        <div class="ec-footer-title">
            <div class="ec-footer-title__copyright">&copy; Darcy’S Factry Co., Ltd. All rights reserved.</div>
        </div>
    </div>
</div>
