{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set totalQuantity = get_carts_total_quantity() %}
<div class="ec-header-navi-sp pc-none">
  <div class="ec-header-navi-sp__logo">
    <a href="{{ url('homepage') }}">
      <img src="{{ asset('assets/img/common/logo_sp.png') }}" width="80">
    </a>
  </div>
  <div class="ec-header-navi-sp__login">
    {% if is_granted('ROLE_USER') %}
      <a href="{{ url('logout') }}">
        <img src="{{ asset('assets/img/common/lock-alt-solid.svg') }}" width="25">
				<span>ログアウト</span>
      </a>
    {% else %}
      <a href="{{ url('mypage_login') }}">
        <img src="{{ asset('assets/img/common/lock-alt-solid.svg') }}" width="25">
				<span>ログイン</span>
      </a>
    {% endif %}
  </div>
  <div class="ec-header-navi-sp__cart">
    <div class="ec-headerRole__cart">
        {{ include('Block/cart.twig') }}
    </div>
  </div>
  <div class="ec-header-navi-sp__store">
    <a href="{{ url('product_list') }}">
      <p><span class="small">ONLINE</span><span class="large">SHOP</span></p>
      <img src="{{ asset('assets/img/common/icon_online_store.png') }}" width="32">
    </a>
  </div>
  <div class="ec-header-navi-sp__btn">
    {{ include('Block/nav_sp.twig') }}
  </div>
</div>

<div class="ec-header-top sp-none">
    {{ render(path('block_' ~ 'search_product')) }}
  <div class="ec-header-top__login">
    {{ include('Block/login.twig') }}
  </div>
</div>

<div class="ec-header-bottom sp-none">
  <div class="ec-header-bottom__logo">
    <p class="ec-header-bottom__img">
      <a href="{{ url('homepage') }}">
        <img src="{{ asset('assets/img/common/logo_header.png') }}" alt="">
      </a>
    </p>
  </div>
  <div class="ec-header-bottom__center">
    <div class="ec-header-bottom__gnav">
      <ul class="p-global-navi">
        <li class="p-global-navi__item">
          <a href="/shop/news/">NEWS</a>
          <a href="/shop/news/" class="p-global-navi__jp">お知らせ</a>
        </li>
        <li class="p-global-navi__item has-child">
          <a href="/shop/products-list/">PRODUCTS</a>
          <a href="/shop/products-list/" class="p-global-navi__jp">商品ラインアップ</a>
          <ul class="p-global-navi-child">
            <li class="p-global-navi-child__item">
              <a href="/shop/story/">- STORY</a>
            </li>
            <li class="p-global-navi-child__item">
              <a href="/shop/concept/">- CONCEPT</a>
            </li>
          </ul>
        </li>
        <li class="p-global-navi__item has-child">
          <a href="/shop/guide/">GUIDE</a>
          <a href="/shop/guide/" class="p-global-navi__jp">お買い物ガイド</a>
          {# <ul class="p-global-navi-child">
            <li class="p-global-navi-child__item">
              <a href="/shop/concept/concept-ice-cream/">- ICE CREAM</a>
            </li>
            <li class="p-global-navi-child__item">
              <a href="" style="pointer-events:none;">- COFFEE</a>
            </li>
            <li class="p-global-navi-child__item">
              <a href="" style="pointer-events:none;">- BREAD</a>
            </li>
          </ul> #}
        </li>
        {# <li class="p-global-navi__item has-child"> #}
        {# <li class="p-global-navi__item">
          <a href="/shop/products-list/">PRODUCTS</a>
          <a href="/shop/products-list/" class="p-global-navi__jp">商品ラインアップ</a>
          <span class="p-global-navi__jp">商品ラインアップ</span>
          <ul class="p-global-navi-child">
            <li class="p-global-navi-child__item">
              <a href="">- ICE CREAM</a>
            </li>
            <li class="p-global-navi-child__item">
              <a href="">- COFFEE</a>
            </li>
            <li class="p-global-navi-child__item">
              <a href="">- BREAD</a>
            </li>
          </ul>
        </li> #}
        <li class="p-global-navi__item">
          <a href="{{ url('company') }}">ABOUT US</a>
          <a href="{{ url('company') }}" class="p-global-navi__jp">会社概要</a>
        </li>
        <li class="p-global-navi__item">
          <a href="/shop/stores/">STORES</a>
          <a href="/shop/stores/" class="p-global-navi__jp">実店舗のご紹介</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="ec-header-bottom__right">
    <ul class="ec-header-bottom__store-link">
      <li class="ec-header-bottom__store-link-item">
        <a href="{{ url('cart') }}">
          <span class="ec-cartNavi-badge">{{ totalQuantity|number_format }}</span>
          <img src="{{ asset('assets/img/common/icon_store.png') }}" alt="" width="34">
        </a>
      </li>
      <li class="ec-header-bottom__store-link-item">
        <a href="{{ url('product_list') }}">
          <span>ONLINE SHOP</span>
        </a>
      </li>
    </ul>
  </div>
</div>
