{% if blogDatas|length > 0 %}
    <section class="ec-top-blog" style="display:block;">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">NEWS</span>
            {#<span class="ec-secHeading__line"></span>
            <span class="ec-secHeading__ja">新着情報</span>#}
        </div>
        <div class="row">
            {% for blogData in blogDatas %}
                <div class="col-3">
                    <a href="{{ blogData.link }}" target="_blank" rel="noopener">
                        {% if blogData.attachment is defined %}
                            <figure class="thumbnail">
                                <img src="{{ blogData.attachment.source_url }}" alt="{{ blogData.title.rendered }}">
                            </figure>
                        {% endif %}
                        <div class="text-box">
                            <p class="title">{{ blogData.title.rendered }}</p>
                            {% if blogData.category is defined %}
                                <p class="category">{% for category in blogData.category %}{{ category.name }}{% if not loop.last %},{% endif %}{% endfor %}</p>
                            {% endif %}
                        </div>
                    </a>
                    <time>{{ blogData.date|slice(0, 10)|replace({'-': '.'}) }}</time>
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
  <p>none</p>
{% endif %}