<section class="ec-top-links">
    <div class="ec-top-links__inner">
        <div class="ec-top-links-item">
            <a href="" style="pointer-events:none;">
                <h3 class="ec-top-links-item__title">
                    CONCEPT
                    <span>ギルトフリーとは</span>
                </h3>
                <p class="ec-top-links-item__img">
                    <img src="{{ asset('assets/img/top/top_dummy_01.png') }}" alt="">
                </p>
            </a>
        </div>
        <div class="ec-top-links-item">
            <a href="" style="pointer-events:none;">
                <h3 class="ec-top-links-item__title">
                    STORY
                    <span>ギルトフリーとは</span>
                </h3>
                <p class="ec-top-links-item__img">
                    <img src="{{ asset('assets/img/top/top_dummy_02.png') }}" alt="">
                </p>
            </a>
        </div>
        <div class="ec-top-links-item">
            <a href="{{ url('materials') }}">
                <h3 class="ec-top-links-item__title">
                    MATERIALS
                    <span>ギルトフリーとは</span>
                </h3>
                <p class="ec-top-links-item__img">
                    <img src="{{ asset('assets/img/top/top_dummy_03.png') }}" alt="">
                </p>
            </a>
        </div>
        <div class="ec-top-links-item">
            <a href="{{ url('company') }}">
                <h3 class="ec-top-links-item__title">
                    ABOUT US
                    <span>金メダリスト「松本薫」のアイスクリームショップ！</span>
                </h3>
                <p class="ec-top-links-item__img">
                    <img src="{{ asset('assets/img/top/top_dummy_04.png') }}" alt="">
                </p>
            </a>
        </div>
    </div>
</section>