{#
 This file is part of the Coupon plugin

 Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 http://www.ec-cube.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{% extends '@admin/default_frame.twig' %}

{% set menus = ['order', 'plugin_coupon'] %}

{% block title %}{{ 'plugin_coupon.admin.index.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'plugin_coupon.admin.index.subtitle'|trans }}{% endblock %}

{% block javascript %}

<script src="{{ asset('assets/js/qrcode.min.js') }}"></script>
<script>
    $(function() {
        function download(url, code){
            var a = $("<a>")
                        .attr("href", url)
                        .attr("download", code + ".png")
                        .appendTo("body");

                    a[0].click();

                    a.remove();
        };

        $("table td.coupon_cd a").on("click", function(){
            var url = $(this).data("url");
            var code = $(this).data("code");
            //var qrcode = "https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=" + encodeURIComponent(url) + "&choe=UTF-8";

            $(".qrcode").html("");
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: url,
                width: 256,
                height: 256,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
            //var img = $("<img />");

            //img.attr("src", qrcode);
            
            $(".coupon-url").text(url).attr("href", url);
            $(".btn-coupon-url").off("click").on("click", function(){
                copyTextToClipboard(url);
                $(".copy-finished").show();

                setTimeout(function(){
                    $(".copy-finished").hide();
                }, 2000);
            });

            $(".qrdownload").off("click").on("click", function(){
                var img = $("#qrcode").find("img");
                download(img.attr("src"), code);
                return false;
            });
            $('#showRelease').modal('show');
            return false;
        });
    });

    function fallbackCopyTextToClipboard(text) {
    var textArea = document.createElement("textarea");
    textArea.value = text;
    
    // Avoid scrolling to bottom
    textArea.style.top = "0";
    textArea.style.left = "0";
    textArea.style.position = "fixed";

    document.body.appendChild(textArea);
    textArea.focus();
    textArea.select();

    try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Fallback: Copying text command was ' + msg);
    } catch (err) {
        console.error('Fallback: Oops, unable to copy', err);
    }

    document.body.removeChild(textArea);
    }
    function copyTextToClipboard(text) {
    if (!navigator.clipboard) {
        fallbackCopyTextToClipboard(text);
        return;
    }
    navigator.clipboard.writeText(text).then(function() {
        console.log('Async: Copying to clipboard was successful!');
    }, function(err) {
        console.error('Async: Could not copy text: ', err);
    });
    }
</script>

{% endblock javascript %}

{% block main %}
<form name="search_form" id="search_form" method="post" action="">
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header"><span class="normal">{{ 'plugin_coupon.admin.index.number'|trans({'%number%': Coupons|length})|raw }}</span></div>
                    <div class="card-body p-0">
                            <table class="table tabel-sm">
                                <thead>
                                <tr>
                                    <th>{{ 'plugin_coupon.admin.index.col01'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col02'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col03'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col04'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col05'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col06'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col13'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col07'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col08'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col09'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col10'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col11'|trans }}</th>
                                    <th>{{ 'plugin_coupon.admin.index.col12'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Coupon in Coupons %}
                                <tr class="{% if Coupon.enable_flag == 0 %}active{% endif %}">
                                    <td class="coupon_id">{{ Coupon.id }}</td>
                                    <td class="coupon_cd">
                                        {{ Coupon.coupon_cd }}
                                        <a href="#" class="btn btn-ec-actionIcon" data-code="{{ Coupon.coupon_cd }}" data-url="{{ url('coupon', {"coupon_code": Coupon.coupon_cd}) }}">
                                            <i class="fa fa-eye fa-lg text-secondary" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td class="coupon_name">{{ Coupon.coupon_name }}</td>
                                    {% if Coupon.coupon_type == 1 %}
                                        <td class="coupon_type">{{ 'plugin_coupon.admin.coupon_type.product'|trans }}</td>
                                    {% elseif Coupon.coupon_type == 2 %}
                                        <td class="coupon_type">{{ 'plugin_coupon.admin.coupon_type.category'|trans }}</td>
                                    {% elseif Coupon.coupon_type == 3 %}
                                        <td class="coupon_type">{{ 'plugin_coupon.admin.coupon_type.all'|trans }}</td>
                                    {% else %}
                                        <td class="coupon_type"></td>
                                    {% endif %}

                                    {% if Coupon.coupon_member == 1 %}
                                        <td class="coupon_member">{{ 'plugin_coupon.admin.coupon_member.yes'|trans }}</td>
                                    {% else %}
                                        <td class="coupon_member">{{ 'plugin_coupon.admin.coupon_member.no'|trans }}</td>
                                    {% endif %}

                                    {% if Coupon.discount_type == 1 %}
                                        <td class="coupon_discount">{{ Coupon.discount_price|price }}</td>
                                    {% elseif Coupon.discount_type == 2 %}
                                        <td class="coupon_discount">{{ Coupon.discount_rate }} %</td>
                                    {% else %}
                                        <td class="coupon_discount"></td>
                                    {% endif %}
                                    <td>
                                        {% if Coupon.reuse == 'Y' %}
                                            再利用できる
                                        {% else %}
                                            一回のみ
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if Coupon.unlimited == 'Y' %}
                                            {{ Coupon.coupon_use_time|number_format }} / {{ Coupon.coupon_release|number_format }}
                                        {% else %}
                                            無制限
                                        {% endif %}
                                    </td>
                                    <td>{{ Coupon.coupon_lower_limit|price }}</td>
                                    <td>{{ Coupon.available_from_date|date_format }} ～ {{ Coupon.available_to_date|date_format }}</td>

                                    <td><a href="{{ url('plugin_coupon_edit', { id: Coupon.id }) }}">{{ 'admin.common.edit'|trans }}</a></td>
                                    <td>
                                        <a href="{{ url('plugin_coupon_enable', { id: Coupon.id }) }}" {{ csrf_token_for_anchor() }} data-confirm="false" data-method="put">
                                        {% if Coupon.enable_flag == 1 %}
                                            {{ 'common.enabled'|trans }}
                                        {% else %}
                                            {{ 'common.disabled'|trans }}
                                        {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        <a class="" data-toggle="modal" data-target="#confirmModal-{{ Coupon.id }}" data-tooltip="tooltip" data-placement="top" title="{{ 'common.label.delete'|trans }}">
                                            <i class="fa fa-close fa-lg text-secondary"></i>
                                        </a>

                                        <div class="modal fade" id="confirmModal-{{ Coupon.id }}" tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="confirmModal-{{ Coupon.id }}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title font-weight-bold">
                                                            {{ 'plugin_coupon.admin.index.delete.confirm'|trans }}</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-left">
                                                        <p class="text-left">
                                                            {{ 'plugin_coupon.admin.index.delete.confirm'|trans }}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-ec-sub" type="button"
                                                                data-dismiss="modal">{{ 'common.cancel'|trans }}
                                                        </button>
                                                        <a href="{{ url('plugin_coupon_delete', {'id' : Coupon.id}) }}" class="btn btn-ec-delete" data-confirm="false" {{ csrf_token_for_anchor() }} data-method="delete">
                                                            {{ 'common.delete'|trans }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

            <div class="card rounded border-0">
                <div class="card-body p-4">
                    <div class="text-center">
                        <a href="{{ url('plugin_coupon_new') }}" class="btn btn-ec-regular pl-4 pr-4">{{ 'plugin_coupon.admin.index.create_button'|trans }}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="modal fade" id="showRelease" tabindex="-1" role="dialog" aria-labelledby="showRelease" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">販売店クーポンを発行</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ec-borderedDefs">
                    <div class="row mb-2">
                        <div class="col-12">
                            <span>販売店クーポンのURL</span>
                        </div>
                        <div class="col-12">
                            <a href="#" target="_blank" class="coupon-url">#</a>
                            <a href="#" class="btn btn-ec-regular pl-4 pr-4 btn-coupon-url">コピーする</a>
                        </div>
                        <div class="col-12">
                            <div class="alert alert-danger copy-finished" style="display:none;" role="alert">
                                販売店クーポンのURLをコピーしました
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <span>QR Code</span>
                        </div>
                        <div class="col-12">
                            <div id="qrcode" class="qrcode" style="display: inline-block;"></div>
                            <a href="#" class="btn btn-ec-regular pl-4 pr-4 qrdownload">QRダウンロード</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
