{#
[LINE管理]-[設定]画面
#}

{% extends '@admin/default_frame.twig' %}

{% set menus = ['plugin_line_login_integration', 'plugin_line_login_setting'] %}

{% block title %}LINE管理{% endblock %}
{% block sub_title %}LINEログイン設定{% endblock %}
{% block main %}
    <form id="setting_form" method="post" action="{{ url('plugin_line_login_setting_commit') }}">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <span>基本情報</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>Channel ID</span>
                                    </div>
                                </div>
                                <div class="col mb-2">
                                    {{ form_widget(form.line_channel_id, { attr: { placeholder: 'Channel ID', class : 'input_line_channel_id form-control' } } ) }}
                                    {{ form_errors(form.line_channel_id) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>Channel Secret</span>
                                    </div>
                                </div>
                                <div class="col mb-2">
                                    {{ form_widget(form.line_channel_secret, { attr: { placeholder: 'Channel Secret', class : 'input_line_channel_secret form-control' } } ) }}
                                    {{ form_errors(form.line_channel_secret) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <span>LINE友達追加設定</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>権限追加をキャンセルした際の戻り先URL</span>
                                    </div>
                                </div>
                                <div class="col mb-2">
                                    {{ form_widget(form.line_add_cancel_redirect_url, {'value': form.vars.value.line_add_cancel_redirect_url ?? url('mypage_login')}) }}
                                    {{ form_errors(form.line_add_cancel_redirect_url) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="c-conversionArea__leftBlockItem"></div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">保存する</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}