{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% set mypageno = 'change_chainstore' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
	<style>
        .dzx-table_row_detail {
            min-width: auto;
            width:100%;
        }
        .dzx-table_row_detail th{
            border: 1px solid #d0d0d0;
            background: #48382b;
            color: #fff;
            text-align:center;
            padding:5px;
            font-weight: normal;
        }
        .dzx-table_row_detail td{
            border: 1px solid #d0d0d0;
            padding:5px;
        }
        .bank_branch_list tbody {
            display:block;
            height:195px;
            overflow-y:scroll;
        }

        .bank_branch_list thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }

        .bank_branch_list thead {
            width: calc( 100% - 1em )
        }
        .bank_branch_select {
            padding: 5px;
            font-size: 12px;
        }
        .ec-select select {
            width:100%;
        }
        .dzx-header{
            font-size: 18px;
            font-weight: bold;
            background: #eee;
            padding: 5px 10px;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script>
        var sys_AllowIsApp = true;
        $(function() {
            $("#bank_id").on("change", function(){
                var t = $(this);
                var bankid = t.text() || '0';
                $.ajax({
                    type: "POST",
                    url: "/bank/list/" + bankid,
                    data: JSON.stringify({"id": bankid}),
                    dataType : "json",
                }).done(function(data){
                    console.log(data);
                    if(data.status!="OK") return;

                    var txt = $("#bank_branch_code");
                    var id = $("#bank_branch_id");

                    $.each(data.data, function(i, dt){
                        if( txt.text() == dt.id ){
                            id.text(dt.branchCode);
                            txt.text(dt.name);
                        }
                    });
                    return true;
                });
            });

            $("#bank_id").trigger("change");
            
            $(".ec-modal-close, .ec-inlineBtn--cancel").on("click", function(){
                $(this).parents(".ec-modal").modal('hide');
            });

            {% if ChainStore %}
                $("#cform :input").prop("readonly", true);
                $("#cform select, #cform :radio").prop("disabled", true);
                $(".btn_bank_search").hide();
                $(".ec-required").hide();
                $("#cform").show();

                if($("#entry_chainstore_option_webshop").val() != "Y"){
                    $(".webshop_sale").hide();
                }else{
                    $(".webshop_sale").show();
                }

                if($("#entry_chainstore_option_partner").val() != "Y"){
                    $(".ispartner").hide();
                }else{
                    $(".ispartner").show();
                }

                if($("#entry_chainstore_applicant_contract_type").val() =="1"){
                    $(".corporate_number").show();
                }else{
                    $(".corporate_number").hide();
                }

                if($("#entry_chainstore_applicant_contract_type").val() =="3"){
                    $(".company_name .ec-required, .company_name_kana .ec-required").hide();
                }else{
                    $(".company_name .ec-required, .company_name_kana .ec-required").show();
                }

                if($("#entry_chainstore_chainStoreTradingAccountType").val() =="1"){
                    //ゆうちょ銀行以外の銀行
                    $(".isbank").show();
                    $(".ispost").hide();
                }else{
                    //ゆうちょ銀行
                    $(".isbank").hide();
                    $(".ispost").show();
                }
                if($("#entry_chainstore_chainstore_business_type").val() =="3"){
                    $("#entry_chainstore_chainstore_business_other_type").show();
                }else{
                    $("#entry_chainstore_chainstore_business_other_type").hide();
                }
                if($("#entry_chainstore_chain_store_web_shop_opening_type").val() =="3"){
                    $("#entry_chainstore_chainstore_webshop_opening_other_type").show();
                }else{
                    $("#entry_chainstore_chainstore_webshop_opening_other_type").hide();
                }
                if($("#entry_chainstore_chain_store_web_shop_phone_type").val() =="3"){
                    $("#entry_chainstore_chainstore_webshop_phone_other_type").show();
                }else{
                    $("#entry_chainstore_chainstore_webshop_phone_other_type").hide();
                }
                if($("#entry_chainstore_chain_store_web_shop_email_type").val() =="3"){
                    $("#entry_chainstore_chainstore_webshop_mail_other_type").show();
                }else{
                    $("#entry_chainstore_chainstore_webshop_mail_other_type").hide();
                }
            {% endif %}
        });

    </script>
{% endblock javascript %}

{% block main %}
    <div class="ec-mypageRole">
        <div class="ec-pageHeader">
            <h1>{{ 'マイページ'|trans }}/{{ '契約情報編集'|trans }}</h1>
        </div>
        {% if ChainStore %}
            <div class="p-chain-store-heading">
                <h2 class="p-chain-store-heading__title">マイページ</h2>
                <p class="p-chain-store-heading__lead">ご利用状況をご確認いただけます。</p>
            </div>
        {% endif %}
        {% include 'Mypage/navi.twig' %}
    </div>
    <div class="ec-mypageRole">
        <div class="ec-editRole">
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <form method="post" action="{{ url('mypage_change_chainstore') }}" novalidate class="h-adr" id="cform" style="display:none;">
                        <span class="p-country-name" style="display:none;">Japan</span>
                        {{ form_widget(form._token) }}
                        <div class="ec-borderedDefs">
                            <!-- 契約区分 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.contract_type, 'admin.chainstore.contract_type', { 'label_attr': { 'class': 'ec-label' }}) }}  
                                </dt>
                                <dd>
                                    {{form.contract_type.vars.data}}
                                    {{ form_widget(form.contract_type, { type : 'hidden' }) }}
                                    {{ form_errors(form.contract_type) }}
                                </dd>
                            </dl>
                            <!-- 申込者の契約区分 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.applicant_contract_type, 'admin.chainstore.applicant_contract_type', { 'label_attr': { 'class': 'ec-label' }}) }}  
                                </dt>
                                <dd>
                                    {{form.applicant_contract_type.vars.data}}
                                    {{ form_widget(form.applicant_contract_type, { type : 'hidden' }) }}
                                    {{ form_errors(form.applicant_contract_type) }}
                                </dd>
                            </dl>
                            <!-- 法人番号 -->
                            <dl class="corporate_number">
                                <dt>
                                    {{ form_label(form.corporate_number, 'admin.chainstore.corporate_number', { 'label_attr': { 'class': 'ec-label' }}) }}                                </dt>
                                <dd>
                                    {{ form.corporate_number.vars.data }}
                                    {{ form_widget(form.corporate_number, { type : 'hidden' }) }}
                                    {{ form_errors(form.corporate_number) }}
                                </dd>
                            </dl>
                            <!-- 契約番号 -->
                            <dl>
                                <dt>
                                    <label class="ec-label required">契約番号</label>
                                </dt>
                                <dd>
                                    {{ form.stock_number.vars.data }}
                                    {{ form_widget(form.stock_number, { type : 'hidden' }) }}
                                    {{ form_errors(form.stock_number) }}
                                </dd>
                            </dl>
                            <!-- 契約開始年月  -->
                            <dl style="display:none;">
                                <dt>
                                    {{ form_label(form.contract_begin_ymd, 'admin.chainstore.contract_begin_ymd', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.contract_begin_ymd.vars.data ? form.contract_begin_ymd.vars.data|date_day() }}
                                    {{ form_widget(form.contract_begin_ymd.year, { type : 'hidden' }) }}
                                    {{ form_widget(form.contract_begin_ymd.month, { type : 'hidden' }) }}
                                    {{ form_widget(form.contract_begin_ymd.day, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 法人名・屋号 -->
                            <dl class="company_name">
                                <dt>
                                    {{ form_label(form.company_name, 'admin.chainstore.chainstore_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.company_name.vars.data }}
                                    {{ form_widget(form.company_name, { type : 'hidden' }) }}
                                    {{ form_errors(form.company_name) }}
                                </dd>
                            </dl>
                            <!-- 法人名・屋号（フリガナ） -->
                            <dl class="company_name_kana">
                                <dt>
                                    {{ form_label(form.company_name_kana, 'admin.chainstore.chainstore_name_ka', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.company_name_kana.vars.data }}
                                    {{ form_widget(form.company_name_kana, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 設立日（開業日） -->
                            <dl>
                                <dt>
                                    {{ form_label(form.begin_day, 'admin.chainstore.begin_day', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.begin_day.vars.data ? form.begin_day.vars.data|date_day() }}
                                    {{ form_widget(form.begin_day.year, { type : 'hidden' }) }}
                                    {{ form_widget(form.begin_day.month, { type : 'hidden' }) }}
                                    {{ form_widget(form.begin_day.day, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 所在地 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.chainstore_address01, 'admin.chainstore.address', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {# 郵便番号 #}
                                    <span>{{ 'common.postal_symbol'|trans }}</span>{{ form.chainstore_postal_code.vars.data }}
                                    {{ form_widget(form.chainstore_postal_code, { type : 'hidden' }) }}
                                    {# 都道府県・住所 #}
                                    {{ form.chainstore_pref.vars.data }} {{ form.chainstore_address01.vars.data }} {{ form.chainstore_address02.vars.data }}
                                    {{ form_widget(form.chainstore_pref, { type : 'hidden' }) }}
                                    {{ form_widget(form.chainstore_address01, { type : 'hidden' }) }}
                                    {{ form_widget(form.chainstore_address02, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 所在地・住所(フリガナ) -->
                            <dl>
                                <dt>
                                    {{ form_label(form.addr01_ka, '所在地・住所(フリガナ)', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.addr01_ka.vars.data }}
                                    {{ form_widget(form.addr01_ka, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 代表者名・氏名 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.name, 'common.representative.name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.name.name01.vars.data }}
                                    {{ form.name.name02.vars.data }}
                                    {{ form_widget(form.name.name01, { type : 'hidden' }) }}
                                    {{ form_widget(form.name.name02, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 代表者名・氏名（フリガナ） -->
                            <dl>
                                <dt>
                                    {{ form_label(form.kana, 'common.representative.kana', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.kana.kana01.vars.data }}
                                    {{ form.kana.kana02.vars.data }}
                                    {{ form_widget(form.kana.kana01, { type : 'hidden' }) }}
                                    {{ form_widget(form.kana.kana02, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 携帯電話 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.cellphone_number, 'admin.chainstore.cellphone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.cellphone_number.vars.data }}
                                    {{ form_widget(form.cellphone_number, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 固定電話 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.contact_phone_number, 'admin.chainstore.phone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.contact_phone_number.vars.data }}
                                    {{ form_widget(form.contact_phone_number, { type : 'hidden' }) }}
                                </dd>
                            </dl>

                            <div class="dzx-header">
                                仲介者情報
                            </div>
                            <!-- 仲介者 法人名・屋号 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.mediator_company_name, 'admin.chainstore.mediator.chainstore_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.mediator_company_name.vars.data }}
                                    {{ form_widget(form.mediator_company_name, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 仲介者 法人名・屋号（フリガナ） -->
                            <dl>
                                <dt>
                                    {{ form_label(form.mediator_company_name_kana, 'admin.chainstore.mediator.chainstore_name_ka', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.mediator_company_name_kana.vars.data }}
                                    {{ form_widget(form.mediator_company_name_kana, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 仲介者 代表者名・氏名 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.mediator_name, 'admin.chainstore.mediator.representative_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.mediator_name.mediator_name01.vars.data }}
                                    {{ form.mediator_name.mediator_name02.vars.data }}
                                    {{ form_widget(form.mediator_name.mediator_name01, { type : 'hidden' }) }}
                                    {{ form_widget(form.mediator_name.mediator_name02, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 仲介者 代表者名・氏名（フリガナ） -->
                            <dl>
                                <dt>
                                    {{ form_label(form.mediator_kana, 'admin.chainstore.mediator.representative_name_ka', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.mediator_kana.mediator_kana01.vars.data }}
                                    {{ form.mediator_kana.mediator_kana02.vars.data }}
                                    {{ form_widget(form.mediator_kana.mediator_kana01, { type : 'hidden' }) }}
                                    {{ form_widget(form.mediator_kana.mediator_kana02, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 仲介者 ディーラーコード -->
                            <dl>
                                <dt>
                                    {{ form_label(form.dealer_code, 'admin.chainstore.mediator.dealer_code', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.dealer_code.vars.data }}
                                    {{ form_widget(form.dealer_code, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 仲介者 所在地・住所 -->
                            <dl style="display:none;">
                                <dt>
                                    {% if ChainstoreType.id == "3" %}
                                        {{ form_label(form.mediator_address01, 'admin.chainstore.mediator.kouri_address01', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    {% else %}
                                        {{ form_label(form.mediator_address01, 'admin.chainstore.mediator.address01', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    {% endif %}
                                
                                </dt>
                                <dd>
                                    {{ form.mediator_address01.vars.data }}
                                    {{ form_widget(form.mediator_address01, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 仲介者 電話番号 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.mediator_phone_number, 'admin.chainstore.mediator.telephone', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.mediator_phone_number.vars.data }}
                                    {{ form_widget(form.mediator_phone_number, { type : 'hidden' }) }}
                                </dd>
                            </dl>

                            <div class="dzx-header">
                                取引口座情報
                            </div>
                            <!-- 取引口座選択 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.chainStoreTradingAccountType, 'admin.chainstore.chainstore_bank_trading_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.chainStoreTradingAccountType.vars.data }}
                                    {{ form_widget(form.chainStoreTradingAccountType, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 金融機関名 -->
                            <dl class="isbank">
                                <dt>
                                    {{ form_label(form.bank, 'admin.chainstore.chainstore_bank_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    <span class="ec-required">必須</span>
                                </dt>
                                <dd>
                                    <span id="bank_id" style="display:none;">{{ form.bank.vars.value }}</span>
                                    {{ form.bank.vars.data }}
                                    {{ form_widget(form.bank, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 支店名 -->
                            <dl class="isbank">
                                <dt>
                                    {{ form_label(form.bank_branch, '支店名', { 'label_attr': {'class': 'ec-label' }}) }}
                                    <span class="ec-required">必須</span>
                                </dt>
                                <dd>
                                    <span id="bank_branch_id"></span>
                                    <span id="bank_branch_code">{{ form.bank_branch.vars.data }}</span>
                                    {{ form_widget(form.bank_branch, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 預金種目 -->
                            <dl class="isbank">
                                <dt>
                                    {{ form_label(form.bank_account_type, 'admin.chainstore.chainstore_bank_account_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    <span class="ec-required">必須</span>
                                </dt>
                                <dd>
                                    {{ form.bank_account_type.vars.data }}
                                    {{ form_widget(form.bank_account_type, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 通帳記号（下5桁）（ゆうちょ） -->
                            <dl class="ispost">
                                <dt>
                                    {{ form_label(form.code_number, 'admin.chainstore.chainstore_code_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    <span class="ec-required">必須</span>
                                </dt>
                                <dd>
                                    {{ form.code_number.vars.data }}
                                    {{ form_widget(form.code_number, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 通帳番号（8桁）（ゆうちょ） -->
                            <dl class="ispost">
                                <dt>
                                    {{ form_label(form.account_number, 'admin.chainstore.chainstore_account_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    <span class="ec-required">必須</span>
                                </dt>
                                <dd>
                                    {{ form.account_number.vars.data }}
                                    {{ form_widget(form.account_number, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 口座番号 -->
                            <dl class="isbank">
                                <dt>
                                    {{ form_label(form.bank_account, 'admin.chainstore.chainstore_bank_account', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    <span class="ec-required">必須</span>
                                </dt>
                                <dd>
                                    {{ form.bank_account.vars.data }}
                                    {{ form_widget(form.bank_account, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 口座名義 -->
                            <dl>
                                <dt>
                                    {{ form_label(form.bankHolderName, 'admin.chainstore.chainstore_bank_holder', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.bankHolderName.vars.data }}
                                    {{ form_widget(form.bankHolderName, { type : 'hidden' }) }}
                                </dd>
                            </dl>
                            <!-- 口座名義（フリガナ） -->
                            <dl>
                                <dt>
                                    {{ form_label(form.bank_holder, 'admin.chainstore.chainstore_bank_holder_ka', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.bank_holder.vars.data }}
                                    {{ form_widget(form.bank_holder, { type : 'hidden' }) }}
                                </dd>
                            </dl>

                        {% if ChainstoreType.id != "2" %}
                            <div>
                        {% else %}
                            <div style="display:none;">
                        {% endif %}
                                <div class="dzx-header">
                                    販売店舗情報
                                </div>
                                {% if ChainstoreType.id != "3" %}
                                    <!-- 販売店舗の関連性 -->
                                    <dl>
                                        <dt>
                                            {{ form_label(form.related_chainstore_type, 'admin.chainstore.subchainstore.related_chainstore_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="ec-required">必須</span>
                                        </dt>
                                        <dd>
                                            {{ form.related_chainstore_type.vars.data }}
                                            {{ form_widget(form.related_chainstore_type, { type : 'hidden' }) }}
                                        </dd>
                                    </dl>
                                {% endif %}
                                <!-- 販売店の業務形態 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_business_type, 'admin.chainstore.subchainstore.chainstore_business_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chainstore_business_type.vars.data }}
                                        {{ form.chainstore_business_other_type.vars.data }}
                                        {{ form_widget(form.chainstore_business_type, { type : 'hidden' }) }}
                                        {{ form_widget(form.chainstore_business_other_type, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 販売店名 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_name, 'admin.chainstore.subchainstore.chainstore_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chainstore_name.vars.data }}
                                        {{ form_widget(form.chainstore_name, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 販売店名(フリガナ） -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_name_kana, 'admin.chainstore.subchainstore.chainstore_name_kana', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chainstore_name_kana.vars.data }}
                                        {{ form_widget(form.chainstore_name_kana, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                {% if ChainstoreType.id != "3" %}
                                    <!-- 運営会社・運営者 -->
                                    <dl>
                                        <dt>
                                            {{ form_label(form.operating_name, 'admin.chainstore.subchainstore.name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="ec-required">必須</span>
                                        </dt>
                                        <dd>
                                            {{ form.operating_name.vars.data }}
                                            {{ form_widget(form.operating_name, { type : 'hidden' }) }}
                                        </dd>
                                    </dl>
                                    <!-- 運営会社・運営者（フリガナ） -->
                                    <dl>
                                        <dt>
                                            {{ form_label(form.operating_kana, 'admin.chainstore.subchainstore.kana', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="ec-required">必須</span>
                                        </dt>
                                        <dd>
                                            {{ form.operating_kana.vars.data }}
                                            {{ form_widget(form.operating_kana, { type : 'hidden' }) }}
                                        </dd>
                                    </dl>
                                {% endif %}
                                <!-- 提供方法 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_provide_type, 'admin.chainstore.subchainstore.chainstore_provide_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chainstore_provide_type.vars.data }}
                                        {{ form_widget(form.chainstore_provide_type, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 提供スタイル -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_provide_style_type, 'admin.chainstore.subchainstore.chainstore_provide_style_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chainstore_provide_style_type.vars.data }}
                                        {{ form_widget(form.chainstore_provide_style_type, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 店舗所在地 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.postal_code, 'admin.chainstore.subchainstore.address', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {# 郵便番号 #}
                                        <span>{{ 'common.postal_symbol'|trans }}</span>{{ form.postal_code.vars.data }}
                                        {{ form_widget(form.postal_code, { type : 'hidden' }) }}
                                        {# 都道府県・住所 #}
                                        {{ form.addr01.vars.data }} {{ form.addr02.vars.data }} {{ form.addr03.vars.data }}
                                        {{ form_widget(form.addr01, { type : 'hidden' }) }}
                                        {{ form_widget(form.addr02, { type : 'hidden' }) }}
                                        {{ form_widget(form.addr03, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 担当者名 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.main_name, 'admin.chainstore.subchainstore.main_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.main_name.main_name01.vars.data }}
                                        {{ form.main_name.main_name02.vars.data }}
                                        {{ form_widget(form.main_name.main_name01, { type : 'hidden' }) }}
                                        {{ form_widget(form.main_name.main_name02, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 担当者名カナ -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.main_name, 'admin.chainstore.subchainstore.main_kana', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.main_kana.main_kana01.vars.data }}
                                        {{ form.main_kana.main_kana02.vars.data }}
                                        {{ form_widget(form.main_kana.main_kana01, { type : 'hidden' }) }}
                                        {{ form_widget(form.main_kana.main_kana02, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 店舗連絡先（電話番号） -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.phone_number, 'admin.chainstore.subchainstore.phone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.phone_number.vars.data }}
                                        {{ form_widget(form.phone_number, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 店舗メールアドレス -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_email, 'admin.chainstore.subchainstore.chainstore_email', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chainstore_email.vars.data }}
                                        {{ form_widget(form.chainstore_email.first, { type : 'hidden' }) }}
                                        {{ form_widget(form.chainstore_email.second, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- WEBショップでダシーズの出品予定はありますか -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.option_webshop, 'admin.chainstore.subchainstore.webshop_sale_ice_list', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.option_webshop.vars.data }}
                                        {{ form_widget(form.option_webshop, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- ＷＥＢショップ店舗名 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.webshop_name, 'admin.chainstore.subchainstore.webshop_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.webshop_name.vars.data }}
                                        {{ form_widget(form.webshop_name, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 出店WEBショップURL -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.webshop_url, 'admin.chainstore.subchainstore.webshop_url', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.webshop_url.vars.data }}
                                        {{ form_widget(form.webshop_url, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 出店WEBショップの運営会社 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.chain_store_web_shop_opening_type, 'admin.chainstore.subchainstore.webshop_company_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chain_store_web_shop_opening_type.vars.data }}
                                        {{ form.chainstore_webshop_opening_other_type.vars.data }}
                                        {{ form_widget(form.chain_store_web_shop_opening_type, { type : 'hidden' }) }}
                                        {{ form_widget(form.chainstore_webshop_opening_other_type, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- WEBショップ運営担当者 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.chain_store_web_shop_owner_type, 'admin.chainstore.subchainstore.webshop_main_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chain_store_web_shop_owner_type.vars.data }}
                                        {{ form_widget(form.chain_store_web_shop_owner_type, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 上記WEBショップ運営担当者名 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.webshop_main_operation_name, 'admin.chainstore.subchainstore.webshop_main_operation_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.webshop_main_operation_name.vars.data }}
                                        {{ form_widget(form.webshop_main_operation_name, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 運営担当者電話番号 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.chain_store_web_shop_phone_type, 'admin.chainstore.subchainstore.webshop_phone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chain_store_web_shop_phone_type.vars.data }}
                                        {{ form.chainstore_webshop_phone_other_type.vars.data }}
                                        {{ form_widget(form.chain_store_web_shop_phone_type, { type : 'hidden' }) }}
                                        {{ form_widget(form.chainstore_webshop_phone_other_type, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- 運営担当者メールアドレス -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.chain_store_web_shop_email_type, 'admin.chainstore.subchainstore.webshop_email', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.chain_store_web_shop_email_type.vars.data }}
                                        {{ form.chainstore_webshop_mail_other_type.vars.data }}
                                        {{ form_widget(form.chain_store_web_shop_email_type, { type : 'hidden' }) }}
                                        {{ form_widget(form.chainstore_webshop_mail_other_type, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                            </div>

                        {% if ChainstoreType.id != "1" %}
                            <div>
                        {% else %}
                            <div style="display:none;">
                        {% endif %}
                                <div class="dzx-header">
                                    パートナー情報
                                </div>
                                <!-- パートナー指定 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.option_partner, 'admin.chainstore.partner.ispartner', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.option_partner.vars.data }}
                                        {{ form_widget(form.option_partner, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- パートナー 法人名・屋号 -->
                                <dl class="ispartner">
                                    <dt>
                                        {{ form_label(form.partner_company_name, 'admin.chainstore.partner.chainstore_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        {{ form.partner_company_name.vars.data }}
                                        {{ form_widget(form.partner_company_name, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- パートナー 法人名・屋号（フリガナ） -->
                                <dl class="ispartner">
                                    <dt>
                                        {{ form_label(form.partner_company_name_kana, 'admin.chainstore.partner.chainstore_name_ka', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        {{ form.partner_company_name_kana.vars.data }}
                                        {{ form_widget(form.partner_company_name_kana, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- パートナー 代表者名・氏名 -->
                                <dl class="ispartner">
                                    <dt>
                                        {{ form_label(form.partner_name, 'admin.chainstore.partner.representative_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.partner_name.partner_name01.vars.data }}
                                        {{ form.partner_name.partner_name02.vars.data }}
                                        {{ form_widget(form.partner_name.partner_name01, { type : 'hidden' }) }}
                                        {{ form_widget(form.partner_name.partner_name02, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- パートナー 代表者名・氏名（フリガナ） -->
                                <dl class="ispartner">
                                    <dt>
                                        {{ form_label(form.partner_kana, 'admin.chainstore.partner.representative_name_ka', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.partner_kana.partner_kana01.vars.data }}
                                        {{ form.partner_kana.partner_kana02.vars.data }}
                                        {{ form_widget(form.partner_kana.partner_kana01, { type : 'hidden' }) }}
                                        {{ form_widget(form.partner_kana.partner_kana02, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                                <!-- パートナー 電話番号 -->
                                <dl class="ispartner">
                                    <dt>
                                        {{ form_label(form.partner_phone_number, 'admin.chainstore.partner.phone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        {{ form.partner_phone_number.vars.data }}
                                        {{ form_widget(form.partner_phone_number, { type : 'hidden' }) }}
                                    </dd>
                                </dl>
                            </div>
                            <!-- この情報を基に契約書を作成します -->
                            <dl>
                                <dt>
                                    {{ form_label(form.chain_store_make_contract_type, 'admin.chainstore.chainstore.make_contract', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    {{ form.chain_store_make_contract_type.vars.data }}
                                    {{ form_widget(form.chain_store_make_contract_type, { type : 'hidden' }) }}
                                </dd>
                            </dl>

                            {# エンティティ拡張の自動出力 #}
                            {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                {% if f.vars.eccube_form_options.form_theme %}
                                    {% form_theme f f.vars.eccube_form_options.form_theme %}
                                    {{ form_row(f) }}
                                {% else %}
                                    <dl>
                                        <dt>
                                            {{ form_label(f) }}
                                        </dt>
                                        <dd>
                                            <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                                {{ form_widget(f) }}
                                                {{ form_errors(f) }}
                                            </div>
                                        </dd>
                                    </dl>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {#
                        <div class="ec-RegisterRole__actions">
                            <div class="ec-off4Grid">
                                <div class="ec-off4Grid__cell">
                                    <button type="submit"
                                            class="ec-blockBtn--cancel">{{ '登録する'|trans }}</button>
                                </div>
                            </div>
                        </div>
                        #}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ec-modal" id="bankNotFoundError">
    <div class="ec-modal-overlay">
        <label for="ec-modal-checkbox" class="ec-modal-overlay-close"></label>
        <div class="ec-modal-wrap">
            <label for="ec-modal-checkbox" class="ec-modal-close"><span class="ec-icon"><img src="/html/template/default/assets/icon/cross-dark.svg" alt=""/></span></label>
            <div id="ec-modal-header" class="text-center">支店番号が見つかりません</div>
            <div class="ec-modal-box">
                <div class="ec-role">
                    <label for="ec-modal-checkbox" class="ec-inlineBtn--cancel">閉じる</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-modal" id="bankNoSelectError">
    <div class="ec-modal-overlay">
        <label for="ec-modal-bank" class="ec-modal-overlay-close"></label>
        <div class="ec-modal-wrap">
            <label for="ec-modal-bank" class="ec-modal-close"><span class="ec-icon"><img src="/html/template/default/assets/icon/cross-dark.svg" alt=""/></span></label>
            <div id="ec-modal-header" class="text-center">金融機関名を選択してください</div>
            <div class="ec-modal-box">
                <div class="ec-role">
                    <label for="ec-modal-bank" class="ec-inlineBtn--cancel">閉じる</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-modal" id="bankSearchModal" >
    <div class="ec-modal-overlay">
        <label for="ec-modal-banksearch" class="ec-modal-overlay-close"></label>
        <div class="ec-modal-wrap">
            <label for="ec-modal-banksearch" class="ec-modal-close"><span class="ec-icon"><img src="/html/template/default/assets/icon/cross-dark.svg" alt=""/></span></label>
            <div id="ec-modal-header">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            支店番号または支店名
                        </dt>
                        <dd>
                            <div class="ec-halfInput">
                                <input type="text" id="branch_keyword" class="form-control" placeholder="番号または支店名を入力">
                                <a class="ec-inlineBtn btn_bank_query" href="#">検索</a>
                            </div>
                        </dd>
                    </dl>
                    <table class="dzx-table_row_detail bank_branch_list">
                    <thead>
                        <tr>
                            <th style="width:70px;">選択</th>
                            <th style="width:120px;">支店番号</th>
                            <th>支店名</th>
                        </tr>
                    </thead>
                    </table>
                </div>
            </div>
            <div class="ec-modal-box">
                <div class="ec-role">
                    <label for="ec-modal-banksearch" class="ec-inlineBtn--cancel">閉じる</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
