{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set mypageno = 'delivery' %}

{% set body_class = 'mypage' %}

{% block stylesheet %}
	<style>
        .ec-select .ec-errorMessage {
            margin-bottom: 25px;
            font-size: 12px;
            font-weight: 700;
            color: #de5d50;
        }
        .error.ec-select select{
            margin-bottom: 5px;
            border-color: #cf3f34;
            background: #fdf1f0;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
    <script>
        $(function() {
            $("#customer_address_option_webshop").on("change", function(){
                isWebshopBlock();
            });
            $("#customer_address_chainstore_business_type").on("change", function(){
                showBusinessOtherType();
            });
            $("#customer_address_chain_store_web_shop_opening_type").on("change", function(){
                showOpeningOtherType();
            });
            $("#customer_address_chain_store_web_shop_phone_type").on("change", function(){
                showPhoneOtherType();
            });
            $("#customer_address_chain_store_web_shop_email_type").on("change", function(){
                showEmailOtherType();
            });

            isWebshopBlock();
            showBusinessOtherType();
            showOpeningOtherType();
            showPhoneOtherType();
            showEmailOtherType();
            
        });
        function isWebshopBlock(){
            if($("#customer_address_option_webshop").val() =="Y"){
                $(".webshop_sale").show();
            }else{
                $(".webshop_sale").hide();
            }
        }
        function showBusinessOtherType(){
            if($("#customer_address_chainstore_business_type").val() =="3"){
                $("#customer_address_chainstore_business_other_type").show();
            }else{
                $("#customer_address_chainstore_business_other_type").hide();
            }
        }
        function showOpeningOtherType(){
            if($("#customer_address_chain_store_web_shop_opening_type").val() =="3"){
                $("#customer_address_chainstore_webshop_opening_other_type").show();
            }else{
                $("#customer_address_chainstore_webshop_opening_other_type").hide();
            }
        }
        function showPhoneOtherType(){
            if($("#customer_address_chain_store_web_shop_phone_type").val() =="3"){
                $("#customer_address_chainstore_webshop_phone_other_type").show();
            }else{
                $("#customer_address_chainstore_webshop_phone_other_type").hide();
            }
        }
        function showEmailOtherType(){
            if($("#customer_address_chain_store_web_shop_email_type").val() =="3"){
                $("#customer_address_chainstore_webshop_mail_other_type").show();
            }else{
                $("#customer_address_chainstore_webshop_mail_other_type").hide();
            }
        }
    </script>
{% endblock javascript %}

{% block main %}
    <div class="ec-mypageRole">
        <div class="ec-pageHeader">
            {% if ChainStore %}
                <h1>{{ 'front.mypage.title'|trans }}/{{ '販売店舗一覧'|trans }}</h1>
            {% else %}
                <h1>{{ 'front.mypage.title'|trans }}/{{ 'front.mypage.nav__customer_address'|trans }}</h1>
            {% endif %}
        </div>
        {% if ChainStore %}
            <div class="p-chain-store-heading">
                <h2 class="p-chain-store-heading__title">マイページ</h2>
                <p class="p-chain-store-heading__lead">ご利用状況をご確認いただけます。</p>
            </div>
        {% endif %}
        {{ include('Mypage/navi.twig') }}
    </div>
    <div class="ec-mypageRole">
        <form method="post" action="?" novalidate class="h-adr">
            <div class="ec-editRole">
                <div class="ec-off1Grid">
                    <div class="ec-off1Grid__cell">

                        <span class="p-country-name" style="display:none;">Japan</span>
                        {{ form_widget(form._token) }}
                        {# ======= 販売店舗 ======= #}
                        {% if ChainStore %}

                            <div class="ec-borderedDefs">
                                <!-- 販売店舗の関連性 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.related_chainstore_type, 'admin.chainstore.subchainstore.related_chainstore_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.related_chainstore_type) ? ' error' }}">
                                            {{ form_widget(form.related_chainstore_type, { 'attr': { 'placeholder': 'admin.common.select__related_chainstore_type' }}) }}
                                            {{ form_errors(form.related_chainstore_type) }}
                                        </div>
                                    </dd>
                                </dl>

                                <!-- 販売店の業務形態 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_business_type, 'admin.chainstore.subchainstore.chainstore_business_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.chainstore_business_type) ? ' error' }}">
                                            {{ form_widget(form.chainstore_business_type, { 'attr': { 'placeholder': 'admin.common.select__chainstore_business_type' }}) }}
                                            {{ form_widget(form.chainstore_business_other_type, { 'attr': { 'placeholder': 'admin.common.other' }}) }}
                                            {{ form_errors(form.chainstore_business_type) }}
                                            {{ form_errors(form.chainstore_business_other_type) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 販売店舗名 -->
                                <dl>
                                    <dt>
                                        {% if ChainStore.ContractType.id != 2 %}
                                            {{ form_label(form.company_name, '販売店舗名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% else %}
                                            {{ form_label(form.company_name, '法人名・屋号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% endif %}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.company_name) ? ' error' }}">
                                            {{ form_widget(form.company_name) }}
                                            {{ form_errors(form.company_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 販売店舗名(フリガナ） -->
                                <dl>
                                    <dt>
                                        {% if ChainStore.ContractType.id != 2 %}
                                            {{ form_label(form.chainstore_name_kana, '販売店舗名(フリガナ）', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% else %}
                                            {{ form_label(form.chainstore_name_kana, '法人名・屋号(フリガナ）', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% endif %}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.chainstore_name_kana) ? ' error' }}">
                                            {{ form_widget(form.chainstore_name_kana) }}
                                            {{ form_errors(form.chainstore_name_kana) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 運営会社・運営者 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.operating_name, 'admin.chainstore.subchainstore.name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.operating_name) ? ' error' }}">
                                            {{ form_widget(form.operating_name, { 'attr': { 'placeholder': 'admin.chainstore.subchainstore.name' }}) }}
                                            {{ form_errors(form.operating_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 運営会社・運営者（フリガナ） -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.operating_kana, 'admin.chainstore.subchainstore.kana', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.operating_kana) ? ' error' }}">
                                            {{ form_widget(form.operating_kana, { 'attr': { 'placeholder': 'admin.chainstore.subchainstore.kana' }}) }}
                                            {{ form_errors(form.operating_kana) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 提供方法 -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_provide_type, 'admin.chainstore.subchainstore.chainstore_provide_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.chainstore_provide_type) ? ' error' }}">
                                            {{ form_widget(form.chainstore_provide_type, { 'attr': { 'placeholder': 'admin.common.select__chainstore_provide_type' }}) }}
                                            {{ form_errors(form.chainstore_provide_type) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 提供スタイル -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_provide_style_type, 'admin.chainstore.subchainstore.chainstore_provide_style_type', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.chainstore_provide_style_type) ? ' error' }}">
                                            {{ form_widget(form.chainstore_provide_style_type, { 'attr': { 'placeholder': 'admin.common.select__chainstore_provide_style_type' }}) }}
                                            {{ form_errors(form.chainstore_provide_style_type) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 店舗所在地 -->
                                <dl>
                                    <dt>
                                        {% if ChainStore.ContractType.id != 2 %}
                                            {{ form_label(form.address, '販売店舗所在地', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% else %}
                                            {{ form_label(form.address, '所在地・住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% endif %}
                                    </dt>
                                    <dd>
                                        <div class="ec-zipInput{{ has_errors(form.postal_code) ? ' error' }}"><span>{{ 'common.postal_symbol'|trans }}</span>
                                            {{ form_widget(form.postal_code) }}
                                            <div class="ec-zipInputHelp">
                                                <div class="ec-zipInputHelp__icon">
                                                    <div class="ec-icon"><img
                                                                src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                                    </div>
                                                </div><a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>{{ 'common.search_postal_code'|trans }}</span></a>
                                            </div>
                                            {{ form_errors(form.postal_code) }}
                                        </div>

                                        <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                            {{ form_widget(form.address.pref) }}
                                            {{ form_errors(form.address.pref) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                            {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': 'common.address_sample_01' }}) }}
                                            {{ form_errors(form.address.addr01) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                            {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': 'common.address_sample_02' }}) }}
                                            {{ form_errors(form.address.addr02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 販売店舗担当者名 -->
                                <dl>
                                    <dt>
                                        {% if ChainStore.ContractType.id != 2 %}
                                            {{ form_label(form.name, '販売店舗担当者名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% else %}
                                            {{ form_label(form.name, '代表者名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% endif %}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error'}}">
                                            {{ form_widget(form.name.name01, { 'attr': { 'placeholder': 'common.last_name' }}) }}
                                            {{ form_widget(form.name.name02, { 'attr': { 'placeholder': 'common.first_name' }}) }}
                                            {{ form_errors(form.name.name01) }}
                                            {{ form_errors(form.name.name02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 販売店舗担当者名（フリガナ） -->
                                <dl>
                                    <dt>
                                        {% if ChainStore.ContractType.id != 2 %}
                                            {{ form_label(form.kana, '販売店舗担当者名（フリガナ）', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% else %}
                                            {{ form_label(form.kana, '代表者名（フリガナ）', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% endif %}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error'}}">
                                            {{ form_widget(form.kana.kana01, { 'attr': { 'placeholder': 'common.last_name_kana' }}) }}
                                            {{ form_widget(form.kana.kana02, { 'attr': { 'placeholder': 'common.first_name_kana' }}) }}
                                            {{ form_errors(form.kana.kana01) }}
                                            {{ form_errors(form.kana.kana02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 店舗連絡先（電話番号） -->
                                <dl>
                                    <dt>
                                        {% if ChainStore.ContractType.id != 2 %}
                                            {{ form_label(form.phone_number, '店舗or担当者電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% else %}
                                            {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        {% endif %}
                                    </dt>
                                    <dd>
                                        <div class="ec-telInput{{ has_errors(form.phone_number) ? ' error' }}">
                                            {{ form_widget(form.phone_number) }}
                                            {{ form_errors(form.phone_number) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 店舗メールアドレス -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.chainstore_email, 'admin.chainstore.subchainstore.chainstore_email', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.chainstore_email) ? ' error' }}">
                                            {{ form_widget(form.chainstore_email, { 'attr': { 'placeholder': 'common.mail_address_sample' }}) }}
                                            {{ form_errors(form.chainstore_email) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- WEBショップでダシーズの出品予定はありますか -->
                                <dl>
                                    <dt>
                                        {{ form_label(form.option_webshop, 'admin.chainstore.subchainstore.webshop_sale_ice_list', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.option_webshop) ? ' error' }}">
                                            {{ form_widget(form.option_webshop, { 'attr': {'placeholder': 'admin.chainstore.subchainstore.webshop_sale_ice_list' }}) }}
                                            {{ form_errors(form.option_webshop) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- ＷＥＢショップ店舗名 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.webshop_name, 'admin.chainstore.subchainstore.webshop_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.webshop_name) ? ' error' }}">
                                            {{ form_widget(form.webshop_name, { 'attr': { 'maxlength':'200', 'placeholder': 'admin.chainstore.subchainstore.webshop_name' }}) }}
                                            {{ form_errors(form.webshop_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 出店WEBショップURL -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.webshop_url, 'admin.chainstore.subchainstore.webshop_url', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.webshop_url) ? ' error' }}">
                                            {{ form_widget(form.webshop_url, { 'attr': { 'maxlength':'200', 'placeholder': 'admin.chainstore.subchainstore.webshop_url' }}) }}
                                            {{ form_errors(form.webshop_url) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 出店WEBショップの運営会社 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.chain_store_web_shop_opening_type, 'admin.chainstore.subchainstore.webshop_company_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.chain_store_web_shop_opening_type) ? ' error' }}">
                                            {{ form_widget(form.chain_store_web_shop_opening_type, { 'attr': {  'placeholder': 'admin.chainstore.subchainstore.webshop_company_name' }}) }}
                                            {{ form_widget(form.chainstore_webshop_opening_other_type, { 'attr': { 'maxlength':'200', 'placeholder': 'admin.common.other' }}) }}
                                            {{ form_errors(form.chain_store_web_shop_opening_type) }}
                                            {{ form_errors(form.chainstore_webshop_opening_other_type) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- WEBショップ運営担当者 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.chain_store_web_shop_owner_type, 'admin.chainstore.subchainstore.webshop_main_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.chain_store_web_shop_owner_type) ? ' error' }}">
                                            {{ form_widget(form.chain_store_web_shop_owner_type, { 'attr': { 'maxlength':'200', 'placeholder': 'admin.chainstore.subchainstore.webshop_main_name' }}) }}
                                            {{ form_errors(form.chain_store_web_shop_owner_type) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 上記WEBショップ運営担当者名 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.webshop_main_operation_name, 'admin.chainstore.subchainstore.webshop_main_operation_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.webshop_main_operation_name) ? ' error' }}">
                                            {{ form_widget(form.webshop_main_operation_name, { 'attr': { 'maxlength':'200', 'placeholder': 'admin.chainstore.subchainstore.webshop_main_operation_name' }}) }}
                                            {{ form_errors(form.webshop_main_operation_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 運営担当者電話番号 -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.chain_store_web_shop_phone_type, 'admin.chainstore.subchainstore.webshop_phone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.chain_store_web_shop_phone_type) ? ' error' }}">
                                            {{ form_widget(form.chain_store_web_shop_phone_type, { 'attr': { 'placeholder': 'admin.chainstore.subchainstore.webshop_phone_number' }}) }}
                                            {{ form_widget(form.chainstore_webshop_phone_other_type, { 'attr': { 'placeholder': 'admin.common.other' }}) }}
                                            {{ form_errors(form.chain_store_web_shop_phone_type) }}
                                            {{ form_errors(form.chainstore_webshop_phone_other_type) }}
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 運営担当者メールアドレス -->
                                <dl class="webshop_sale">
                                    <dt>
                                        {{ form_label(form.chain_store_web_shop_email_type, 'admin.chainstore.subchainstore.webshop_email', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.chain_store_web_shop_email_type) ? ' error' }}">
                                            {{ form_widget(form.chain_store_web_shop_email_type, { 'attr': { 'placeholder': 'admin.chainstore.subchainstore.webshop_email' }}) }}
                                            {{ form_widget(form.chainstore_webshop_mail_other_type, { 'attr': { 'placeholder': 'admin.common.other' }}) }}
                                            {{ form_errors(form.chain_store_web_shop_email_type) }}
                                            {{ form_errors(form.chainstore_webshop_mail_other_type) }}
                                        </div>
                                    </dd>
                                </dl>
                                {# エンティティ拡張の自動出力 #}
                                {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                    {% if f.vars.eccube_form_options.form_theme %}
                                        {% form_theme f f.vars.eccube_form_options.form_theme %}
                                        {{ form_row(f) }}
                                    {% else %}
                                        <dl>
                                            <dt>
                                                {{ form_label(f) }}
                                            </dt>
                                            <dd>
                                                <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                                    {{ form_widget(f) }}
                                                    {{ form_errors(f) }}
                                                </div>
                                            </dd>
                                        </dl>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {# END OF 販売店舗 #}
                        {% else %}
                            {# 一般会員 #}
                            <div class="ec-borderedDefs">
                                <dl>
                                    <dt>
                                        {{ form_label(form.name, 'common.name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error'}}">
                                            {{ form_widget(form.name.name01, { 'attr': { 'placeholder': 'common.last_name' }}) }}
                                            {{ form_widget(form.name.name02, { 'attr': { 'placeholder': 'common.first_name' }}) }}
                                            {{ form_errors(form.name.name01) }}
                                            {{ form_errors(form.name.name02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.kana, 'common.kana', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error'}}">
                                            {{ form_widget(form.kana.kana01, { 'attr': { 'placeholder': 'common.last_name_kana' }}) }}
                                            {{ form_widget(form.kana.kana02, { 'attr': { 'placeholder': 'common.first_name_kana' }}) }}
                                            {{ form_errors(form.kana.kana01) }}
                                            {{ form_errors(form.kana.kana02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.company_name, 'common.company_name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.company_name) ? ' error' }}">
                                            {{ form_widget(form.company_name) }}
                                            {{ form_errors(form.company_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.address, 'common.address', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-zipInput{{ has_errors(form.postal_code) ? ' error' }}"><span>{{ 'common.postal_symbol'|trans }}</span>
                                            {{ form_widget(form.postal_code) }}
                                            <div class="ec-zipInputHelp">
                                                <div class="ec-zipInputHelp__icon">
                                                    <div class="ec-icon"><img
                                                                src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                                    </div>
                                                </div><a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>{{ 'common.search_postal_code'|trans }}</span></a>
                                            </div>
                                            {{ form_errors(form.postal_code) }}
                                        </div>

                                        <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                            {{ form_widget(form.address.pref) }}
                                            {{ form_errors(form.address.pref) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                            {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': 'common.address_sample_01' }}) }}
                                            {{ form_errors(form.address.addr01) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                            {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': 'common.address_sample_02' }}) }}
                                            {{ form_errors(form.address.addr02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.phone_number, 'common.phone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-telInput{{ has_errors(form.phone_number) ? ' error' }}">
                                            {{ form_widget(form.phone_number) }}
                                            {{ form_errors(form.phone_number) }}
                                        </div>
                                    </dd>
                                </dl>
                                {# エンティティ拡張の自動出力 #}
                                {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                    {% if f.vars.eccube_form_options.form_theme %}
                                        {% form_theme f f.vars.eccube_form_options.form_theme %}
                                        {{ form_row(f) }}
                                    {% else %}
                                        <dl>
                                            <dt>
                                                {{ form_label(f) }}
                                            </dt>
                                            <dd>
                                                <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                                    {{ form_widget(f) }}
                                                    {{ form_errors(f) }}
                                                </div>
                                            </dd>
                                        </dl>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {# END OF 一般会員 #}
                        {% endif %}
                    </div>
                </div>
                <div class="ec-RegisterRole__actions">
                    <div class="ec-off4Grid">
                        <div class="ec-off4Grid__cell">
                            <button type="submit"
                                    class="ec-blockBtn--cancel">{{ 'common.registration'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
