{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}

    <div class="ec-chainstore-title pc-none">
        <h1 class="ec-chainstore-title__title">ダシーズ契約店<br>専用サイト</h1>
    </div>

    {% if storeBlogDatas|length > 0 %}
        <div class="ec-mypageRole">
            <section class="ec-mypage-blog">
                <h2 class="ec-mypage-blog__heading">新着情報</h2>
                <div class="ec-mypage-blog__body">
                    {% for storeBlogDatas in storeBlogDatas %}
                        <div class="ec-mypage-blog__item">
                            <a href="{{ storeBlogDatas.link }}" rel="noopener">
                                <time>{{ storeBlogDatas.date|slice(0, 10)|replace({'-': '/'}) }}</time>
                                <p class="title">{{ storeBlogDatas.title.rendered }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="ec-mypage-blog__btn">
                    <a href="{{ url('mypage_news') }}">一覧を見る ＞</a>
                </div>
            </section>
        </div>
    {% else %}
        <p>記事はありません</p>
    {% endif %}

    <div class="ec-mypageRole">
        <section class="ec-mypage-menu">
            <div class="ec-mypage-menu__item">
                <a href="{{ url('product_list') }}?category_id=1">
                    商品発注
                </a>
                <p class="text">アイス等の商品は、こちらからご注文ください。</p>
            </div>
            <div class="ec-mypage-menu__item">
                <a href="{{ url('product_list') }}?category_id=8">
                    販促品発注
                </a>
                <p class="text">のぼりや製品パンフレットなど、販促品はこちらからご注文ください。</p>
            </div>
            <div class="ec-mypage-menu__item">
                <a href="{{ url('mypage') }}">
                    マイページ
                </a>
                <p class="text">ご注文履歴や登録情報などをご確認いただけます。</p>
            </div>
            <div class="ec-mypage-menu__item">
                <a href="/shop/manual/">
                    マニュアル
                </a>
                <p class="text">発注システムの説明動画や販売店マニュアルをご覧いただけます。</p>
            </div>
            <div class="ec-mypage-menu__item">
                <a href="/shop/notifi/">
                    各種申請
                </a>
                <p class="text">販売店舗の追加や公式サイトへの掲載申請はこちらから。</p>
            </div>
            <div class="ec-mypage-menu__item">
                <a href="/shop/promotion/">
                    プロモーション
                </a>
                <p class="text">テレビCMやYouTube動画などプロモーションについてのご紹介です。</p>
            </div>
        </section>
    </div>
{% endblock %}